{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="logo-room-rent absolute top-0 left-0 px-8 py-4">
        <a href="{% url 'index' %}"><img src="{% static 'images/static images/logo/roomrentlogo.svg' %}" alt=""></a>
    </div>
    <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
        <h1 class="text-2xl font-semibold mb-6 text-center">Password Reset Complete</h1>

        <p class="text-green-600 text-center">Your password has been successfully reset.</p>

        <p class="mt-4 text-gray-600 text-center">You can now <a href="{% url 'signin' %}" class="text-blue-500">login</a> with your new password.</p>
    </div>
</body>
</html>
