
{% extends 'Users Profile/NavigationBarBase/base.html' %} 
{% load static %} 
{% load custom_tags_payment %}
 {% block title %} RoomRent | Rent bills{% endblock%}
{% block content %}

<div class="flex-1 bg-[#F3F3F3]">
  <!-- Main container Start -->
  <div class="container px-4 py-1 mx-auto">
    <!-- HEADING CONTENTS -->
    <div class="bg-white h-screen pb-[100px] lg:mr-3 mt-[92px] md:ml-30 lg:ml-60 bg-white">
      <!--HEADING-->
      <div class="">
        <div class="flex justify-between pr-3 {% if request.user|has_group:"owner"%} bg-[#EF6262] {% else %} bg-[#0AD674] {% endif %}text-white">
        <div>
          <h1 class="font-semibold text-[17px] md:text-3xl p-6">
            {% if request.user|has_group:"owner" %} Rent that needs to be collect
            with in few days 
                {% if step == 'updated' %} 
                (UPDATED)
                {% elif step == 'paid'%}
                  (PAID)
                {% else %}
                (PENDING)
                {% endif %}
            
            {% else %} Rent that needs to be paid with in few
            days {% endif %}
          </h1>
        </div>
      </div>

      <!-- CHANGE PAGE -->
      <form action="" method="post">
        {% csrf_token %}
        <div class="sub-heading flex p-3 gap-3 gap">
          {% if request.user|has_group:"owner"%}
          <div>
            <button type="submit" name="pendingUpdate" class="hover:bg-[#00ffc321] p-2 px-4 border text-[#39c9a7] 
          {% if step == None or step == 'pendingUpdate' %}
            bg-[#00ffc321]
            {% else %}
            bg-[#39c9a70d]
          {% endif %}
             border-[#39c9a71a]">Pendings</button>
          </div>

            <div>
              <button type="submit" name="updated" class=" relative 
             {% if step == 'updated' %} 
              bg-[#f58c5c24]
               {% else %} 
              bg-[#ddb21a1a] 
            {% endif %} 
            hover:bg-[#f58c5c24] p-2 px-4 text-[#ddb21a] border-[#f58c5c1a] border">Updated 
           </button>

            </div>
          {% endif %}
        </div>
      </form>


      {% if step == None or step == "pendingUpdate" %}

      <!-- BOOKING LISTS -->
      <div class="md:px-10 mt-5">


        {% if allPendingRoombillings %}

        <table class="md:w-full w-full md:text-md text-sm bg-white shadow-md rounded mb-4">
          <tbody>
            <tr class="border-b">
              <th class="text-left p-3 px-5">Room title</th>
              <th class="text-left p-3 px-5">Movedin date</th>
              <th class="text-left p-3 px-5">Billed date</th>
              <th class="text-left p-3 px-5">Status</th>
              <th class="text-left p-3 px-5"></th>
            </tr>

            {% for room in allPendingRoombillings %}
            <tr class="border-b hover:bg-gray-100">
              <td class="p-3 px-5">
                <a
                  class="text-[#0766AD]"
                  href="{% url 'roomMoreDetails' room.bookedRoom.room.id %}" 
                  ><p>{{room.bookedRoom.room.roomTitle}}</p></a
                >
              </td>

              <td class="p-3 px-5">
                <p>{{room.bookedRoom.moveInDate|date}}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.bookedRoom.rentBilledDate|date}}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.status}}</p>
              </td>
              <td class="p-3 px-5 pl-3">
                <button type="button"
                  class="md:mr-3 text-sm bg-gray-700 hover:bg-gray-600 text-white md:py-2 md:px-3 rounded focus:outline-none focus:shadow-outline"
                  data-modal-target="medium-modal-{{ room.id }}" data-modal-toggle="medium-modal-{{ room.id }}">
                  View details
                </button>
              </td>
            </tr>

            <!-- view Modal -->
            <div id="medium-modal-{{ room.id }}" tabindex="-1"
              class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-xl font-medium text-gray-900">
                      {{ room.bookedRoom.room.roomTitle }}
                    </h3>
                    <button type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                      data-modal-hide="medium-modal-{{ room.id }}">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <form action="" method="post" class="ml-auto ">
                    {% csrf_token %}
                    <div class="p-4">
                      <!--ROOM Details-->
                      <div>

                        <div class="text-xl">
                          <h1 class="font-bold">
                            Rent:
                            <span>Rs. <span>{{room.bookedRoom.room.rent}}</span></span>
                            <input
                              type="hidden"
                              name="rentAmount"
                              id="rentAmount-{{room.id}}"
                              class="xyz"
                              value="{{room.bookedRoom.room.rent}}"
                            />
                          </h1>
                        </div>

                        <h1 class="mt-4 font-bold">Utility info:</h1>

                        <div class="mt-4">
                          <h1>
                            <span>Water: </span>Rs.
                            <span>{{room.bookedRoom.room.water}}</span>
                            <input
                              type="hidden"
                              name="waterRent"
                              id="waterRent-{{room.id}}"
                              value="{{room.bookedRoom.room.water}}"
                            />
                          </h1>
                        </div>

                        <div class="mt-4">
                          <h1>
                            <span>Trash: </span>Rs.
                            <span>{{room.bookedRoom.room.trash}}</span>
                          </h1>
                          <input
                              type="hidden"
                              name="trashRent"
                              id="trashRent-{{room.id}}"
                              value="{{room.bookedRoom.room.trash}}"
                            />
                        </div>

                        <div class="flex items-center py-2">
                          <input checked id="checked-checkbox" name="hasLatePaymentCharge" type="checkbox" value="True" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                          <label for="checked-checkbox" class="ms-2 font-bold text-gray-900 ">Charge late payment fee </label>
                      </div>

                        <div class="mt-4">
                          <h1 class="font-bold">
                            <span
                              >Electricity:
                              <span
                                >(Rs. <span>{{room.bookedRoom.room.electricity}}</span> per
                                unit)</span
                              ></span
                            >
                          </h1>
                          <input
                            type="hidden"
                            id="electricityRate-{{room.id}}"
                            name="electricityRate"
                            value="{{room.bookedRoom.room.electricity}}"
                          />
                        </div>

                        <!--ELECTRICITY calculation-->
                        <div class="" id="electricityDetails-{{room.id}}">
                          <div>
                            <h1 class="pt-4">
                              <span class="">Previous unit: </span>
                              <span>
                                {% if room.electricityPreviousUnit == 0 %}
                                <!--if electricity unit is 0 that means tenant is new and its going to be first billing so manuay entering the previous unit -->
                                <input
                                  required
                                  class="focus:bg-white focus:border-purple-500 shadow appearance-none border border-gray-200 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                  type="number"
                                  name="previousUnit"
                                  id="previousUnit-{{room.id}}"
                                  min="1"
                                  placeholder="Unit..."
                                  
                                />
                                {% else %}
                                <input type="hidden" name="previousUnit" id="previousUnit-{{room.id}}"
                                value="{% if room.electricityPreviousUnit %}

                              {{  room.electricityPreviousUnit }}

                              {% endif %}"
                              >
                                <!--if electricity unit is not 0 that means tenant is not new so showing the previous unit -->
                                {{  room.electricityPreviousUnit }}
                              </span>
                              {% endif %}
                            </h1>

                            <input type="hidden" name="rentAmount" value="{{  room.bookedRoom.room.rent }}">

                            <input
                              type="hidden"
                              id="previousUnit-hidden-{{room.id}}"
                              name="ElecPreviousUnit"
                              value="
                              {% if room.electricityPreviousUnit %}

                              {{  room.electricityPreviousUnit }}

                              {% else %}
                                
                              {% endif %}
                                "
                            />

                            <input
                              type="hidden"
                              id="currentUnit-hidden-{{room.id}}"
                              name="ElecCurrentUnit"
                              value=""
                            />

                            <h1 class="pt-4">
                              <span class="">Current unit: </span
                              ><span
                                ><input
                                  required
                                  class="ml-2 focus:bg-white focus:border-purple-500 shadow appearance-none border border-gray-200 rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                  type="number"
                                  name="currentUnit"
                                  id="currentUnit-{{room.id}}"
                                  placeholder="Unit..."
                              /></span>
                            </h1>
                          </div>

                          <!-- CALCULATE BUTTON-->
                          <div>
                            <button
                              type="button"
                              id="calculateBtn"
                              class="bg-[#0766AD] text-white mt-4 py-2 px-5 calculateBtn"
                              onclick="calculate({{room.id}})"
                            >
                              Calculate
                            </button>
                          </div>
                        </div>
                      </div>
                      <!--ELECTRICITY calculation END-->
                      <!-- AFTER CALCULATION -->
                      <div id="calculationResult-{{room.id}}" class="hidden mt-4">
                        <div class="mb-4">
                          <h1>
                            Electricity unit till date:
                            <span id="electricityUnit-{{room.id}}"></span>
                            <input
                              type="hidden"
                              id="electricityUnit-hidden-{{room.id}}"
                              name="electricityUnit"
                              value=""
                            />
                          </h1>
                        </div>

                        <div>
                          <h1>
                            Electricity: <span id="electricityAmount-{{room.id}}"></span>
                            <input
                              type="hidden"
                              id="electricityAmount-hidden-{{room.id}}"
                              name="electricityAmount"
                              value=""
                            />
                          </h1>
                        </div>
                        <div class="mt-4 font-bold text-xl">
                          <h1>Total amount: <span id="totalAmount-{{room.id}}"></span></h1>
                          <input
                            type="hidden"
                            id="totalAmount-hidden-{{room.id}}"
                            name="totalAmount"
                            value=""
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Modal footer -->
                    <div
                      class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b"
                    >
                      <input
                        type="hidden"
                        name="roomBillingID"
                        value="{{ room.id }}"
                      />
                      <button
                        data-modal-hide="medium-modal-{{ room.id }}"
                        type="submit"
                        name="updatePendingRoom"
                        class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                      >
                        Update
                      </button>
                      <button
                        data-modal-hide="medium-modal-{{ room.id }}"
                        type="button"
                        name="reject"
                        class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                      >
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>

        <!--IF OWNER THEN SHOW rentBillForCurrentUser-->
        {% else %}
        <div class="md:px-2 ">

          {% if rentBillForCurrentUser %}

          {% for billedRooms in rentBillForCurrentUser %}
          
          <!--START: BOOKED ROOMS details -->
          <div class="pl-3 shadow-xl md:w-[320px]">
            <div id="gallery" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                
                <div class="relative h-56 overflow-hidden rounded-lg">
                    <!-- Item 1 -->
                    {% for img in billedRooms.bookedRoom.room.images.all %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- INFO -->
            <div class="p-2 font-semibold text-[#0766AD]">
                <a href="{% url 'roomMoreDetails' billedRooms.bookedRoom.room.id %}"><h1>{{billedRooms.bookedRoom.room.roomTitle}}</h1></a>

            </div>

            <div class="p-2">
              <h1><span class="font-bold">Moved In date: </span>{{billedRooms.bookedRoom.moveInDate|date}}</h1>

            </div>

            <div class="p-2">
              <h1><span class="font-bold">Rent billed date: </span>{{billedRooms.bookedRoom.rentBilledDate|date}}</h1>

            </div>

            <div class="px-2 py-2">
              <button type="submit" data-modal-target="medium-modal-{{billedRooms.id }}" data-modal-toggle="medium-modal-{{ billedRooms.id }}" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">View Details</button>
            </div>
          
                    <!-- view Modal -->
                    <div id="medium-modal-{{ billedRooms.id }}" tabindex="-1"
                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative w-full max-w-2xl max-h-full">
                      <!-- Modal content -->
                      <div class="relative bg-white rounded-lg shadow">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                          <h3 class="text-xl font-medium text-gray-900">
                            {{ billedRooms.bookedRoom.room.roomTitle }}
                          </h3>
                          <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                            data-modal-hide="medium-modal-{{ billedRooms.id }}">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 14 14">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                          </button>
                        </div>
                        <form action="{% url 'initiate' %}" method="post" class="ml-auto">
                          {% csrf_token %}
                          <div class="p-4">
                            <!--ROOM Details-->
                            <div>
                              <div class="text-xl">
                                <h1 class="font-bold">
                                  Rent:
                                  <span>Rs. <span>{{billedRooms.bookedRoom.room.rent}}</span></span>
                                  <input
                                    type="hidden"
                                    name="rentAmount"
                                    id="rentAmount"
                                    value="{{billedRooms.bookedRoom.room.rent}}"
                                  />
                                </h1>
                              </div>
        
                              <h1 class="mt-4 font-bold">Utility info:</h1>
        
                              <div class="mt-4">
                                <h1>
                                  <span>Water: </span>Rs.
                                  <span>{{billedRooms.bookedRoom.room.water}}</span>
                                </h1>
                              </div>
        
                              <div class="mt-4 pb-2">
                                <h1>
                                  <span>Trash: </span>Rs.
                                  <span>{{billedRooms.bookedRoom.room.trash}}</span>
                                </h1>
                              </div>
        
                              <div class="flex items-center py-2">
                                <input 
                                
                                {% if billedRooms.hasChargeLatePaymentFee == True %}
                                  checked
                                {% else %}
        
                                {% endif %}
                                  
                                disabled 
                                id="checked-checkbox" name="hasLatePaymentCharge" type="checkbox" value="True" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                                <label for="checked-checkbox" class="ms-2 font-bold text-gray-900 ">If late then charge late payment fee</label>
                            </div>
        
                              <div class="mt-4">
                                <h1 class="font-bold">
                                  <span
                                    >Electricity:
                                    <span
                                      >(Rs. <span>{{billedRooms.bookedRoom.room.electricity}}</span> per
                                      unit)</span
                                    ></span
                                  >
                                </h1>
                                <input
                                  type="hidden"
                                  id="electricityRate"
                                  name="electricityRate"
                                  value="{{billedRooms.bookedRoom.room.electricity}}"
                                />
                              </div>
        
                              <!--ELECTRICITY calculation-->
                              <div class="" id="electricityDetails">
                                <div>
                                  <h1 class="pt-4">
                                    <span class="">Previous unit: </span>
                                    <span>
                                      {{  billedRooms.electricityPreviousUnit }}
                                    </span>
                                  </h1>
        
                                  
                                  <h1 class="pt-4">
                                    <span class="">Current unit: <span>{{  billedRooms.electricityCurrentUnit }}</span></span
                                    > 
                                  </h1>

                                  <h1 class="pt-4">
                                    <span class="">Calculated unit: <span>{{  billedRooms.electricityUnit }}</span></span
                                    > 
                                  </h1>

                                  <h1 class="pt-4 font-bold">
                                    <span class="">Electricity Amount: <span>Rs. {{  billedRooms.electricityAmount }}</span></span
                                    > 
                                  </h1>

                                </div>
                              </div>

                              {% if billedRooms.hasChargeLatePaymentFee == True %}
                              <div class="py-3 ">
                                <h1 class="font-bold">Late payment charge: <span>Rs. <span>50 per day</span></span></h1>

                                <h1 class="py-3">Late payment fee: <span>Rs. <span>

                                  {% if billedRooms.bookedRoom.rentBilledDate  %}    <!--The with tag is used to create variables in Django templates.-->
                                  {{billedRooms.bookedRoom.rentBilledDate|timesince|extract_days_since|multiply:50 }}

                                  {% endif %}
                                </span> 
                                
                                
                                {% if billedRooms.bookedRoom.rentBilledDate|timesince|extract_days_since == "0" %}
                                  (Not Late !)

                                  {% else %}
                                  ({{billedRooms.bookedRoom.rentBilledDate|timesince|extract_days_since}} Day[s] late) 
                                {% endif %}
                                  
                              </span></h1>

                              </div>
                              {% endif %}

                              {% if billedRooms.deposit == 0 %}
                        
                              <div class="mt-1">
                                <h1><span class=" font-bold">Deposit: </span><span class=" font-bold">Rs. <span>{{billedRooms.bookedRoom.room.rent}}</span></span><span class="text-gray-600"> (we store your Deposit For security purpose)</span></h1>
                              </div>
        
                              <div class="mt-4 text-xl">
                                <h1 class="font-bold">
                                  <span
                                    >Total Amount:
                                    <span
                                      >Rs. <span>
                                        
                                        {% if billedRooms.bookedRoom.rentBilledDate|timesince|extract_days_since == "0" %}
                                            {{billedRooms.totalRoomRentAmount|add:billedRooms.bookedRoom.room.rent}}
                                            <input type="hidden" name="amount" value="{{billedRooms.totalRoomRentAmount|add:billedRooms.bookedRoom.room.rent}}" id="amt">
                                        {% else %}
                                            <input type="hidden" name="lateFee" id="lateFee" value="{{billedRooms.bookedRoom.rentBilledDate|timesince|extract_days_since|multiply:50}}">
                                            <input type="hidden" id="totalRoomRentAmountHidden" name="totalRoomRentAmountHidden" value="{{billedRooms.totalRoomRentAmount|add:billedRooms.bookedRoom.room.rent}}">
                                            <span id="totalRoomRentAmountShown"></span>
                                            <input type="hidden" name="amount" value="{{billedRooms.totalRoomRentAmount|add:billedRooms.bookedRoom.room.rent}}" id="amt">
                                        {% endif %}
                                      
                                      </span></span></span>
                                </h1>
                              </div>
        
                              {% else %}
        
                              <div class="mt-4 text-xl">
                                <h1 class="font-bold">
                                  <span
                                    >Total Amount:
                                    <span
                                      >Rs. <span>{{billedRooms.totalRoomRentAmount}}</span></span></span>
                                </h1>
                              </div>

                              <input type="hidden" name="amount" value="{{billedRooms.totalRoomRentAmount}}" id="amt">
        
        
                              {% endif %}
                              
                              <div>
                                <input
                                  
                                  type="hidden"
                                  name="roomBillingID"
                                  value="{{ billedRooms.id }}"
                                />
                                <input type="hidden" name="purchase_order_id" id="pid" value="{{ request.user }}">
                                
                                <input type="hidden" name="return_url" value="http://127.0.0.1:9000/verify">

                                <button
                                  data-modal-hide="medium-modal-{{ billedRooms.id }}"
                                  type="submit"
                                  name="payRoomRent"
                                  class="px-7 py-3 mt-2  text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm text-center"
                                >
                                  Pay with Khalti
                                </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

          {% endfor %}
    
      </div>

      {% else %}

      <!--IF THERE IS NO DATA THEN DISPLAY NO DATA IMAGE-->

      <div>
        <div class="IMAGE md:w-full h-[500px] md:flex justify-between">

          <div class="text-5xl text-gray-700">
            <h1 class="p-20 mt-10">All upto date!!</h1>
          </div>

          <div class="mb-10 pb-10">
            <img class="h-full" src="https://img.freepik.com/free-vector/businessman-holding-pencil-big-complete-checklist-with-tick-marks_1150-35019.jpg?t=st=1711554381~exp=1711557981~hmac=ba25f2f0b574ba967e168929d0ef6802184c99d7639daca24701da34ce39efd6&w=996" alt="" srcset="">
          </div>

        </div>
      </div>
      

      {% endif %}

        {% endif %}

      </div>

      <!-- updated options -->
      {% elif step == "updated" %}
      <div class="md:px-10 mt-5">

        {% if allUpdatedRentBillings %}
      
        
        <table class="md:w-full w-full md:text-md text-sm bg-white shadow-md rounded mb-4">
        <tbody>
          <tr class="border-b">
            <th class="text-left p-3 px-5">Room title</th>
            <th class="text-left p-3 px-5">Movedin date</th>
            <th class="text-left p-3 px-5">Billed date</th>
            <th class="text-left p-3 px-5">Status</th>
            <th class="text-left p-3 px-5"></th>
          </tr>

          {% for billedRooms in allUpdatedRentBillings %}
          <tr class="border-b hover:bg-gray-100">
            <td class="p-3 px-5">
              <a
                class="text-[#0766AD]"
                href="{% url 'roomMoreDetails' billedRooms.bookedRoom.room.id %}" 
                ><p>{{billedRooms.bookedRoom.room.roomTitle}}</p></a
              >
            </td>

            <td class="p-3 px-5">
              <p>{{billedRooms.bookedRoom.moveInDate|date}}</p>
            </td>
            <td class="p-3 px-5">
              <p>{{billedRooms.bookedRoom.rentBilledDate|date}}</p>
            </td>
            <td class="p-3 px-5">
              <p>{{billedRooms.status}}</p>
            </td>
            <td class="p-3 px-5 pl-3">
              <button type="button"
                class="md:mr-3 text-sm bg-gray-700 hover:bg-gray-600 text-white md:py-2 md:px-3 rounded focus:outline-none focus:shadow-outline"
                data-modal-target="medium-modal-{{ billedRooms.id }}" data-modal-toggle="medium-modal-{{ billedRooms.id }}">
                View details
              </button>
            </td>
          </tr>

          <!-- view Modal -->
          <div id="medium-modal-{{ billedRooms.id }}" tabindex="-1"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative w-full max-w-2xl max-h-full">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                  <h3 class="text-xl font-medium text-gray-900">
                    {{ billedRooms.bookedRoom.room.roomTitle }}
                  </h3>
                  <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="medium-modal-{{ billedRooms.id }}">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <form action="" method="post" class="ml-auto">
                  {% csrf_token %}
                  <div class="p-4">
                    <!--ROOM Details-->
                    <div>
                      <div class="text-xl">
                        <h1 class="font-bold">
                          Rent:
                          <span>Rs. <span>{{billedRooms.bookedRoom.room.rent}}</span></span>
                          <input
                            type="hidden"
                            name="rentAmount"
                            id="rentAmount"
                            value="{{billedRooms.bookedRoom.room.rent}}"
                          />
                        </h1>
                      </div>

                      <h1 class="mt-4 font-bold">Utility info:</h1>

                      <div class="mt-4">
                        <h1>
                          <span>Water: </span>Rs.
                          <span>{{billedRooms.bookedRoom.room.water}}</span>
                        </h1>
                      </div>

                      <div class="mt-4 pb-2">
                        <h1>
                          <span>Trash: </span>Rs.
                          <span>{{billedRooms.bookedRoom.room.trash}}</span>
                        </h1>
                      </div>

                      <div class="flex items-center py-2">
                        <input 
                        
                        {% if billedRooms.hasChargeLatePaymentFee == True %}
                          checked
                        {% else %}

                        {% endif %}
                          
                        disabled 
                        id="checked-checkbox" name="hasLatePaymentCharge" type="checkbox" value="True" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                        <label for="checked-checkbox" class="ms-2 font-bold text-gray-900 ">If late then charge late payment fee</label>
                    </div>

                      <div class="mt-4">
                        <h1 class="font-bold">
                          <span
                            >Electricity:
                            <span
                              >(Rs. <span>{{billedRooms.bookedRoom.room.electricity}}</span> per
                              unit)</span
                            ></span
                          >
                        </h1>
                      </div>

                      <!--ELECTRICITY calculation-->
                      <div class="" id="electricityDetails">
                        <div>
                          <h1 class="pt-4">
                            <span class="">Previous unit: </span>
                            <span>
                              {{  billedRooms.electricityPreviousUnit }}
                            </span>
                          </h1>

                          
                          <h1 class="pt-4">
                            <span class="">Current unit: <span>{{  billedRooms.electricityCurrentUnit }}</span></span
                            > 
                          </h1>
                        </div>
                      </div>

                      <div class="mt-4">
                        <h1 class="font-bold">
                          <span>
                        
                            Electricity Amount:
                            <span
                              >Rs. <span>{{billedRooms.electricityAmount}}</span></span></span>
                        </h1>
                      </div>

                      {% if billedRooms.deposit == 0 %}
                        
                      <div class="mt-4">
                        <h1><span class=" font-bold">Deposit: </span><span class=" font-bold">Rs. <span>{{billedRooms.bookedRoom.room.rent}}</span></span><span class="text-gray-600"> (we store your Deposit For security purpose)</span></h1>
                      </div>

                      <div class="mt-4 text-xl">
                        <h1 class="font-bold">
                          <span
                            >Total Amount:
                            <span
                              >Rs. <span>{{billedRooms.totalRoomRentAmount|add:billedRooms.bookedRoom.room.rent}}</span></span></span>
                        </h1>
                      </div>

                      {% else %}

                      <div class="mt-4 text-xl">
                        <h1 class="font-bold">
                          <span
                            >Total Amount:
                            <span
                              >Rs. <span>{{billedRooms.totalRoomRentAmount}}</span></span></span>
                        </h1>
                      </div>


                      {% endif %}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
       {% else %}         
        <!--IF THERE IS NOTHING THAT HAS BEEN UPDATED -->
        <div>
          <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
  
            <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
              <h1 class="p-20 mt-10">You do not have updated any Rent.</h1>
            </div>
  
            <div class="mb-10 pb-10 md:w-2/3">
              <img class="h-full" src="https://img.freepik.com/free-vector/hand-drawn-no-data-concept_52683-127823.jpg?t=st=1711560880~exp=1711564480~hmac=47c7a05594417c56d738d20ad90f46cba7268ff534874bbe6db1ec00d9ce4edb&w=996" alt="" srcset="">
            </div>
  
          </div>
        </div>
      {% endif %}

      {% endif %}
    </div>
  </div>
<script>

  document.addEventListener("DOMContentLoaded", function() {
    // Get the values from the hidden input fields
    var lateFee = parseFloat(document.getElementById("lateFee").value);
    var totalRoomRentAmountHidden = parseFloat(document.getElementById("totalRoomRentAmountHidden").value);

    // Calculateing the total room rent amount
    var totalRoomRentAmount = lateFee + totalRoomRentAmountHidden;
  
    // Displaying the total room rent amount
    document.getElementById("totalRoomRentAmountShown").textContent = totalRoomRentAmount;
  
    // Set the value of the amount input field
    document.getElementById("amt").value = totalRoomRentAmount;
  });</script>
  <script src="{% static 'js/rentBillCalculation.js' %}" type="text/javascript"></script>

  {% endblock %}