{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Edit Profile{% endblock %}
{% block content %}
  
   <!-- Main -->
    <div class="flex-1 bg-[#F3F3F3]">
        <div class="container px-4 py-1 mx-auto">
            <!-- Main container -->
            <div class="bg-white h-full  lg:mr-3 mt-[92px] md:ml-30 lg:ml-60 bg-white">

                <!-- Heading -->
                <div class="flex justify-between pr-3">
                    <div>
                        <h1 class="font-semibold text-[18px] md:text-3xl pl-16 p-6">Edit Profile</h1>
                    </div>
                </div>

                <!-- FORM Start -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="    md:w-[1000px]">
                        <div class="p-2 pl-16 grid gap-6 md:grid-cols-2 ">
                            <div>
                                <label for="first_name" class="block mb-2 text-[15px] font-semibold text-gray-900 ">First name</label>
                                <input name="first_name" value="{{request.user.first_name}}" type="firstName" class="focus:outline-none  text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-[4px] w-full"
                                    placeholder="Your First Name" >
                            </div>
                            <div>
                                <label for="last_name" class="block mb-2 text-[15px] font-semibold text-gray-900 ">Last name</label>
                                <input name="last_name" value="{{request.user.last_name}}" type="lastName" class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-[4px] w-full"
                                    placeholder="Your last Name" >
                            </div>
                        </div>
                        
                        <div class="p-4 pl-16">
                            <label for="email" class="block mb-2 text-[15px] font-semibold text-gray-900 ">Email</label>
                            <input disabled name="email" type="email" value="{{request.user.email}}" class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-[4px] w-full"
                                placeholder="Your Email" required>
                        </div>

                        <div class="p-4 pl-16">
                            <label for="address" class="block mb-2 text-[15px] font-semibold text-gray-900 ">Username</label>
                            <input name="address" disabled type="address" value="{{request.user}}" class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-[4px] w-full"
                                placeholder="Your Username" required>
                        </div>

                        <div class="p-4 pl-16">
                            <label for="contact" class="block mb-2 text-[15px] font-semibold text-gray-900 ">Contact Number</label>
                            <input name="contact" type="tel" value="{{request.user.useradditionaldetail.contact_number}}" class="focus:outline-none text-gray-600 border border-2 border-[#85858] py-3 pl-2 rounded-[4px] w-full"
                                placeholder="Contact Number" required>
                        </div>
                            <input type="hidden" name="user" value="{{request.user}}">
                        <div class="p-4 mb-2 pl-16 w-56">
                            <button type=submit name="update"  class="bg-[#1F2937] rounded-[3px] w-full py-2 text-white">Update</button>
                        </div>                       
                    </div>  
                </form> <!-- FORM End -->

                <!-- Change Profile Option Start -->
                <div class="container  pl-16 p-6">
                    <div>
                        <h1 class="font-semibold text-[18px] md:text-3xl">Change Profile</h1>
                    </div>
                    <div class="mt-10">
                        <div class="h-[320px] w-[380px] bg-gray-200 ">
                            <div class="pt-5">
                                <img id="image-preview" class="bg-white w-40 h-40  rounded-full mx-auto" src="{{user.userprofilepicture.image.url}}" alt="">
                            </div>
                            <!-- Form for uploading image Start -->
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="flex justify-center mt-9 ">
                                    <label for="image-input"
                                        class="bg-[#1F2937] cursor-pointer text-white rounded-md relative inline-flex items-center px-7 py-2 border border-transparent text-base leading-6 font-medium rounded-md transition duration-150 ease-in-out">
                                        <span>Change profile</span>
                                        <input id="image-input" name="img" type="file" accept="image/png, image/jpeg" multiple
                                            class="absolute block opacity-0 w-full h-full cursor-pointer" />
                                    </label>
                                </div>
                            </div>
                                <!-- Save button -->
                                <input type="hidden" name="user" value="{{request.user}}">
                                <div class="w-[380px] flex gap gap-10">
                                    <div class="pt-4">
                                        <button name="saveImage" class="bg-[#1F2937] rounded-[3px] p-2 pl-5 pr-5 text-white">Save</button>
                                    </div>

                                        <!-- Remove button -->
                                        <div class="pt-4">
                                            <button name="deleteImage" class="text-[#1F2937] rounded-[3px] focus:outline-none border border-gray-400 p-2 pl-5 pr-5 ">Remove</button>
                                        </div>
                                </div>
                            </form>
                    </div><!-- Form for uploading image END -->
                </div>
                <!-- Change Profile Option END -->
            </div>
        </div>
    </div>

    <!-- JS for viewing image befor saving -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const imageInput = document.getElementById('image-input');
            const imagePreview = document.getElementById('image-preview');
        
            imageInput.addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();
        
                    reader.onload = function(e) {
                        imagePreview.src = e.target.result;
                    };
        
                    reader.readAsDataURL(this.files[0]);
                } else {
                    // Clear the preview when no file is selected
                    imagePreview.src = '';
                }
            });
        });
        
    </script>

    <script>
        // JavaScript to close the messages after 3 seconds (3000 milliseconds)
    setTimeout(function() {
        var toastElement = document.getElementById('toast-success');
        if (toastElement) {
            toastElement.style.display = 'none';
        }
        }, 3000);
        
    </script>
    

    


    {% endblock %}