{% extends 'Admin/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Pending Rooms{% endblock %}
{% block content %}

<div class="flex-1 bg-[#F3F3F3] ">
    <div class="bg-white p-5 h-screen">
      <div>

        <div class="p-5 w-full mb-3 border-b-2">
            <p class="md:text-3xl text-xl capitalize font-bold ">
                Room Listing Requests
            </p>
        </div> 

        
{% if allPendingRooms %}


</div>

    <!-- START: ROOMS, order and pending request information section -->
    <div class="bg-[#F3F3F3] ">
        <div class="container pb-36 bg-white px-6 py-1 mx-auto h-fit">
            <div class="flex justify-between">
                
            </div>

            <div>

                <div class="px-3 py-4 flex justify-center">
                    <table class="w-full text-md bg-white shadow-md rounded mb-4">
                        <tbody>
                            <tr class="border-b bg-gray-200">
                                <th class="text-left p-3 px-5"></th>
                                <th class="text-left p-3 px-5">Room Title</th>
                                <th class="text-left p-3 px-5">Username</th>
                                <th class="text-left p-3 px-5">User Contact</th>
                                <th class="text-left p-3 px-5">Requested on</th>
                                <th class="text-left p-3 px-5"></th>
                                <th></th>
                            </tr>
                            
                            {% if allPendingRooms %}
                            <!-- Show the verified users from the allVerifiedUsers which we have pass in context -->
                            {% for room in allPendingRooms %}

                               <tr class="border-b hover:bg-gray-100">
                                   <td class="p-3 px-5">
                                       <p>#</p>
                                   </td>
                                   <td class="p-3 px-5">
                                    <a class="text-sky-500" href="{% url 'roomMoreDetails' room.id  %}"><p>{{room.roomTitle}}</p></a>
                                   </td>
                                   <td class="p-3 px-5">
                                    <p>{{room.user}}</p>
                                   </td>
                                   <td class="p-3 px-5">
                                    <p>{{room.user.useradditionaldetail.contact_number}}</p>
                                   </td>
                                   <td class="p-3 px-5">
                                       <p>{{room.listed_date}}</p>
                                   </td>
                                   <td class="p-3 px-5 pl-3">

                                <!-- Modal toggle -->
                                <button data-modal-target="popup-modal-{{ room.id }}" data-modal-toggle="popup-modal-{{ room.id }}" class="mr-3 text-sm bg-gray-700 hover:bg-gray-600 text-white py-2 px-3 rounded focus:outline-none focus:shadow-outline" type="button">
                                    View details
                                </button>

                            </td>
                               </tr>  
                               
                                <!-- view Modal -->
                               <!-- Main modal -->
                                <div id="popup-modal-{{ room.id }}" data-modal-backdrop="popup-modal-{{ room.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                                        <!-- Modal content -->
                                        <div class="relative bg-white rounded-lg shadow">
                                            <!-- Modal header -->
                                            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                                <h3 class="text-xl font-semibold text-gray-900">
                                                    <p>{{room.roomTitle}}</p>
                                                </h3>
                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="popup-modal-{{ room.id }}">
                                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="p-4 md:p-5 space-y-4">
                                                <p class="text-base leading-relaxed text-gray-500 ">
                                                    <span class="text-gray-900">Uploaded by: </span> {{room.user}}
                                                </p>
                                                <p class="text-base leading-relaxed text-gray-500 ">
                                                    <span class="text-gray-900">Room address: </span> {{room.roomAddress}}
                                                </p>

                                                <p class="text-base leading-relaxed text-gray-500 ">
                                                    <span class="text-gray-900 font-bold">Room Documents picture </span>
                                                </p>

                                                <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-2">
                                                    {% for img in room.documents.all %}
                                                    <div>
                                                        <a href="{{img.document.url}}" target="_blank">
                                                            <img class="h-auto max-w-full rounded-lg" src="{{ img.document.url }}" alt="img">
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                            <!-- Modal footer -->
                                            <div class="flex p-4 md:p-5 border-t border-gray-200 rounded-b ">

                                                <form action="" method="post" class="ml-auto">
                                                    {% csrf_token %}
                                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                                        <input type="hidden" name="user" value="{{ room.user.id }}">
                                                       
                                                        <button data-modal-hide="popup-modal-{{ room.id }}" type="submit"  name="approve" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Approve</button>
                                                        <button data-modal-hide="popup-modal-{{ room.id }}" type="submit" name="reject" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">Reject</button>

                                                    </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            {% endfor %}  
                            {% endif %}                      
                        </tbody>
                    </table>
                </div>
            </div>






            <div class="flex flex-col xs:flex-row items-center xs:justify-between">
                <div class="inline-flex mt-2 xs:mt-0 gap-4 ">
                    <!-- Pagination Next and Previous -->
                    {% if allPendingRooms.has_previous %}
                        <a href="?page={{ allPendingRooms.previous_page_number }}"
                        class="text-sm bg-gray-300 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded">
                            Prev
                        </a>
                    {% else %}
                        <button class="text-sm bg-gray-300 text-gray-500 font-semibold py-2 px-4 rounded" disabled>
                            Prev
                        </button>
                    {% endif %}
            
                    {% if allPendingRooms.has_next %}
                        <a href="?page={{ allPendingRooms.next_page_number }}"
                        class="text-sm bg-gray-300 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded">
                            Next
                        </a>
                    {% else %}
                        <button class="text-sm bg-gray-300 text-gray-500 font-semibold py-2 px-4 rounded" disabled>
                            Next
                        </button>
                    {% endif %}
                </div>
            </div>


    {% else %}

    <p class="text-2xl font-regular flex justify-center mt-10">
        <div>
            <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
    
              <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
                <h1 class="p-20 mt-10">No requests currently.</h1>
              </div>
    
              <div class="mb-10 pb-10 md:w-2/3 ">
                <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
              </div>
    
            </div>    </p>

    {% endif %}


        </div>
    </div>


    </div>
</div>
  
{% endblock %}
        
