<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <div class="bg-gray-200 w-full">
        <div class="bg-gray-800">
            <div class="p-6">
                <h1 class="text-white text-3xl font-semibold">Admin Panel - Pending Requests</h1>
            </div>
        </div>
    </div>

    <div class="w-full md:w-1/2 pr-4">
        <br><br>
        <section class="mx-auto w-full max-w-7xl px-4 py-4">
            
            <div class="mt-6 flex flex-col">
              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                  <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th
                            scope="col"
                            class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                          >
                            <span>Email</span>
                          </th>
                          <th
                            scope="col"
                            class="px-12 py-3.5 text-left text-sm font-normal text-gray-700"
                          >
                            Requested date
                          </th>
                          <th
                            scope="col"
                            class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                          >
                            Username
                          </th>
                          <th
                            scope="col"
                            class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                          >
                            Contact
                          </th>
                          <th scope="col" class="relative px-4 py-3.5">
                            <span class="sr-only">Edit</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="divide-y divide-gray-200 bg-white">
                        
                        
                        {% for user in usersWhoRequestForOwner %}
                            
                                                   

                        <tr>
                          <td class="whitespace-nowrap px-4 py-4">
                            <div class="text-sm text-gray-700">{{ user.email }}</div>
                             
                          </td>
                          <td class="whitespace-nowrap px-12 py-4">
                            <div class="text-sm text-gray-900 ">2023-01-01</div>
                          </td>
                          <td class="whitespace-nowrap px-4 py-4">
                            <div class="text-sm text-gray-900 ">{{ user.username }}</div>
                          </td>
                          <td class="whitespace-nowrap px-4 py-4 text-sm text-gray-700">
                            {{ user.useradditionaldetail.contact_number}}
                          </td>
                          <td class="whitespace-nowrap px-4 py-4 text-right text-sm font-medium">
                            <a href="{% url 'pendingRequests-user' userID=user.id %}" class="text-gray-700">
                              View
                            </a>
                          </td>
                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
          





</body>
</html>