{% extends 'Admin/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Pending Users{% endblock %}
{% block content %}


<!--START: Table -->
<!-- component -->
<div class="flex-1 bg-[#F3F3F3] ">
    <div class="bg-white p-5 h-screen">
      <div>

        <div class="bg-[#0766AD] p-5 w-full mb-3">
            <p class="md:text-3xl text-xl capitalize  text-white ">
                User Pending Approvals
            </p>
        </div> 

    <div class="px-3 py-4 flex justify-center">
        
        {% if allUsersWhoRequestForOwner %}

        <table class="w-full text-md bg-white shadow-md rounded mb-4 ">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">S.N</th>
                    <th class="text-left p-3 px-5">Username</th>
                    <th class="text-left p-3 px-5">Requested on</th>
                    <th class="text-left p-3 px-5">Contact</th>
                    <th class="text-left p-3 px-5"></th>
                </tr>


                {% for requestedUser in allUsersWhoRequestForOwner %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="p-3 px-5 text-nowrap">
                        <p>{{ forloop.counter }}</p>
                    <td class="p-3 px-5 text-nowrap">
                        <p>{{requestedUser.username}}</p>
                    </td>
                    <td class="p-3 px-5 text-nowrap">
                        <p>{{requestedUser.date_joined|timesince }} ago</p>
                    </td>
                    <td class="p-3 px-5 text-nowrap">
                        <p>{{requestedUser.useradditionaldetail.contact_number}}</p>
                    </td>
                    <td class="p-3 px-5 text-nowrap">
                        <p><a class="underline text-blue-500" href="{% url 'userMoreDetail' requestedUser.id %}">View Details</p></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>               
    </div>
</div>

<div class="flex flex-col xs:flex-row items-center xs:justify-between">
    <div class="inline-flex mt-2 xs:mt-0 gap-4 ">
        <!-- Pagination Next and Previous -->
        {% if allUsersWhoRequestForOwner.has_previous %}
            <a href="?page={{ allUsersWhoRequestForOwner.previous_page_number }}"
            class="text-sm bg-gray-300 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded">
                Prev
            </a>
        {% else %}
            <button class="text-sm bg-gray-300 text-gray-500 font-semibold py-2 px-4 rounded" disabled>
                Prev
            </button>
        {% endif %}

        {% if allUsersWhoRequestForOwner.has_next %}
            <a href="?page={{ allUsersWhoRequestForOwner.next_page_number }}"
            class="text-sm bg-gray-300 hover:bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded">
                Next
            </a>
        {% else %}
            <button class="text-sm bg-gray-300 text-gray-500 font-semibold py-2 px-4 rounded" disabled>
                Next
            </button>
        {% endif %}
    </div>
</div>

{% else %}

    <div class="IMAGE md:w-full h-[500px] md:flex justify-between">

      <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
        <h1 class="p-20 mt-10">You have no pending users</h1>
      </div>

      <div class="mb-10 pb-10 md:w-2/3 ">
        <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
      </div>

    </div>    

{% endif %}

</div>
</div>
</div>
</div>

<!-- END: TABLE -->

{% endblock %}