<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ROBOTO font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Rent - Sign up</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="static/js/styles.js"></script> <!-- Load Javascript file-->
</head>

<style>
    button {
        box-shadow: 0px 4px 61px 0px rgba(77, 71, 195, 0.40);
    }
</style>

<body style="font-family: 'Roboto'">
    <div class="login-wrapper-parent">
        <div class="login-wrapper-child">
            <div class="logo-room-rent p-[24px]">
                <img src="images/static images/logo/roomrentlogo.svg" alt="">
            </div>

            <div class="flex justify-evenly">

                <div class="mt-5">
                    <h1 class="text-5xl font-semibold pb-3">Sign up to</h1>
                    <p class="text-3xl">Room Rent Web app</p>
                    <div>

                        <div class="flex">
                            <div class="mt-[60px]">
                                <p>If you already have an account</p>
                                You can <a href="{% url 'signin' %}" class="text-blue-400 font-semibold">Sign in here</a>
                            </div>
                            <div>
                                <img src="images/static images/signin and signup/sallyimage.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1 class="text-3xl font-semibold">Sign Up</h1>
                        <br>
                        {% if messages %}
                        {% for message in messages %}
                                <div class="">
                                    <div
                                        class=" {% if message.tags == 'alert-danger' %}text-red-500 {% else %}text-green-500{% endif %} pb-2"
                                        role="alert">
                                        <span class="font-medium">{{ message }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div>

                            <div>
                                <input name="email" type="text" class="focus:outline-none border py-3 pl-2 rounded-lg w-[350px] bg-[#F0EFFF]"
                                    placeholder="Email" required>

                            </div>
                            <br>
                            <div>
                                <input name="contact" type="tel" class="focus:outline-none border py-3 pl-2 rounded-lg w-[350px] bg-[#F0EFFF]"
                                    placeholder="Contact Number" required>

                            </div>
                            <br>
                            <div>
                                <input name="username" type="username" class="focus:outline-none border py-3 pl-2 rounded-lg w-[350px] bg-[#F0EFFF]"
                                    placeholder="Username" required>

                            </div>
                            <br>
                            <div class="relative">
                                <input name="password1" type="password" class="focus:outline-none border py-3 pl-2 rounded-lg w-[350px] bg-[#F0EFFF]"
                                    placeholder="Password" id="password1" required>
                                <span class="absolute inset-y-0 right-0 pr-2 flex items-center cursor-pointer"
                                    onclick="togglePasswordVisibility('password1')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="#1C274C"></path>
                                    </svg>
                                </span>
                            </div>
                            <br>
                            <div class="relative">
                                <input name="password2" type="password" class="focus:outline-none border py-3 pl-2 rounded-lg w-[350px] bg-[#F0EFFF]"
                                    placeholder="Confirm Password" id="password2" required>
                                <span class="absolute inset-y-0 right-0 pr-2 flex items-center cursor-pointer"
                                    onclick="togglePasswordVisibility('password2')">
                                    <svg class="h-5 w-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#1C274C"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 
                                        22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 
                                        9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="#1C274C"></path>
                                    </svg>
                                </span>
                            </div>
                            <br>
                            <div>

                                <div class="w-full">
                                    
                                    <select id="registrationType" class=" focus:outline-none rounded-lg bg-[#F0EFFF] py-3 px-2 w-full text-gray-600" name="registrationType">
                                        <option value="tenant">Register as Tenant</option>
                                        <option value="owner">Register as Owner</option>
                                    </select>
                                </div>
                            </div>

                            <div id="documentImageField" style="display: none;">
                                <p class="py-2 text-[#736F6F]">Upload your citizenship picture here.</p>
                                <input class="block w-full text-sm text-slate-500
                                    file:mr-4 file:py-2 file:px-4 file:rounded-md
                                    file:border-0 file:text-sm file:font-semibold
                                    file:bg-gray-100 file:text-gray-500
                                    hover:file:bg-gray-200" type="file" name="document_image" id="id_document_image" accept="image/png, image/jpeg" multiple>
                            </div>
            
                        </div>
                        <br>
                        <div>
                            <button class="bg-[#1F2937] rounded-lg w-full py-3 text-white">Register</button>
                        </div>

                      
                    </form>
                </div>
            </div>

        </div>
    </div>
      <!-- Drop down option for tenant and owner-->>
    <script>
        // Get the user type field and document image field
        const userTypeField = document.getElementById("registrationType");
        const documentImageField = document.getElementById("documentImageField");
        const documentImageInput = document.getElementById("id_document_image");

        // Add an event listener to the user type field
        userTypeField.addEventListener("change", toggleDocumentImageVisibility);

        function toggleDocumentImageVisibility() {
            console.log('hi')
            // Check the value of the user type field
            const userType = userTypeField.value;

            // Toggle visibility of the document image field based on the user type
            if (userType === "owner") {
                documentImageField.style.display = "block";
                documentImageInput.required = true;
            } else {
                documentImageField.style.display = "none";
                documentImageInput.required = false;
            }
        }
    </script>
</body>

</html>



















