{% include 'Admin/NavigationBarBase/header.html' %} <!-- Including the header.html file for the admin navigation bar -->

{% load static%} <!-- Loading the static files for the current template -->

<title>{% block title %}{% endblock %}</title> <!-- Setting the title of the HTML page (it can be overridden in child templates) -->

{% block content %} <!-- Definiing a block named 'content' where child templates can inject their content -->
{% endblock %}

{% include 'Admin/NavigationBarBase/footer.html' %} <!-- Including the footer.html file for the admin navigation bar -->
