<!-- Here including footer -->

<!-- Closing the remaining div -->
</div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

{% if request.path == '/user/admin/paymentHistory' %}
<div class="pt-10 bg-[#f3f3f3] flex justify-center">
    <p>RoomRent © 2024 All Right Reserved</p>    
</div>
{% else %}
<div class=" md:pl-64 pb-10 bg-[#f3f3f3] flex justify-center">
    <p>RoomRent © 2024 All Right Reserved</p>    
</div>
    
{% endif %}
    
</body>
</html>
{% load sweetify %}
{% sweetify %}