<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/css/styles.css"> <!--Load css file-->
  <script src="static/js/styles.js"></script> <!-- Load Javascript file-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</head>
<body class="bg-[#F3F3F3] ">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <nav class="fixed top-0 z-50 h-20 w-full bg-[#1F2937] border-b border-gray-200 pt-3">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
          <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
              <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 ">
                  <span class="sr-only">Open sidebar</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                  </svg>
               </button>
              <a href="" class="flex ms-2 md:me-24">
                <img src="images/static images/logo/whiteLogo.svg" alt="RoomRent">
                <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap"></span>
              </a>
            </div>
            <div class="flex items-center">
                <div class="flex items-center ms-3">
                  <div>
                    <p class="text-white pr-4">WELCOME, ADMIN </p>
                  </div>
                  <div>
                    <p class="text-white underline pr-4"><a href="{% url 'index' %}">VIEW SITE</a></p>
                  </div>
                  <div>
                    <p class="text-white underline pr-2"><a href="{% url 'signout' %}">SIGN OUT</a></p>
                  </div> 
                </div>
              </div>
          </div>
        </div>
      </nav>

      <!-- Left slid nav start-->
      
      <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-24 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
         <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
            <ul class="space-y-2 font-medium">
               <li>
                  <a href="{% url 'adminDashboard' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100 group">
                     <img src="images/static images/Icons/dashboardIcon.svg" alt="">
                     <span class="ms-3">Dashboard</span>
                  </a>
               </li>
               <li>
                  <a href="{% url 'pendingRequests' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100 group">
                    <img src="images/static images/Icons/pending2.svg" alt="">
                     <span class="flex-1 ms-3 whitespace-nowrap">Pending Users</span>
                  </a>
               </li>
               
               <li>
                <a href="{% url 'pendingRooms' %}" class="flex items-center p-2 text-gray-900 rounded-lg  hover:bg-gray-100 group">
                  <svg width="24px" height="24px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M182.99 146.2h585.14v402.29h73.14V73.06H109.84v877.71H512v-73.14H182.99z" fill="#000000"></path><path d="M256.13 219.34h438.86v73.14H256.13zM256.13 365.63h365.71v73.14H256.13zM256.13 511.91h219.43v73.14H256.13zM731.55 585.06c-100.99 0-182.86 81.87-182.86 182.86s81.87 182.86 182.86 182.86c100.99 0 182.86-81.87 182.86-182.86s-81.86-182.86-182.86-182.86z m0 292.57c-60.5 0-109.71-49.22-109.71-109.71 0-60.5 49.22-109.71 109.71-109.71 60.5 0 109.71 49.22 109.71 109.71 0.01 60.49-49.21 109.71-109.71 109.71z" fill="#000000"></path><path d="M758.99 692.08h-54.86v87.27l69.39 68.76 38.61-38.96-53.14-52.66z" fill="#000000"></path></g></svg>
                   <span class="flex-1 ms-3 whitespace-nowrap">Pending Rooms</span>
                </a>
             </li>  

            </ul>
         </div>
      </aside>
      <!-- Left slid nav end-->

  <div class="flex-1 bg-[#F3F3F3]">
  <div class="container px-1 py-1 mx-auto">

  <!-- Main container -->
  <div class="p-4 sm:ml-64">
  <div class="p-4 mt-14">