{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Room{% endblock %}
{% block content %}


    <!-- MAIN DIV -->
    <div class="mt-24">

   
        <!-- Search header  -->
        <div class="flex justify-center pt-2">
            <h1 class="mb-4 text-4xl font-semibold text-[#141B2D]">
                Search for Rooms
              </h1>
        </div>

        <!-- SEARCH and FILTER  -->
        <div class="search-container bg-[#EDEDF1] mb-5">
            <form role="search" action="{% url 'room' %}">
            <div class="p-5 flex justify-center gap-4">
                <div class="search-box flex justify-center">
                    <input
                    class="flex border h-10 w-[250px] rounded bg-white px-3 py-2 text-sm placeholder:text-gray-600 focus:outline-none focus:ring-1 focus:ring-black/30 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                    type="text"
                    placeholder="Enter a keyword"
                    name="search_query"
                />
                </div>
    
                <div>
                    <button
                    type="submit"
                    class="inline-flex items-center rounded-md bg-[#1F2937] px-4 py-3 text-sm font-semibold text-white hover:bg-black/80"
                    >
                    <svg fill="#ffffff" height="18px" width="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path> </g> </g> </g></svg>
                    <span class="pl-3 pr-3">Search</span>
                    </button>
                </div>
            </div>
            </form>
    
            <!-- FILTER -->
            <div class="filter-heading">
                <div class="flex justify-center text-gray-400 mb-5">
                    <h1>Filter settings</h1>
                </div>
                
                <form role="search" action="{% url 'room' %}">
                <div class="md:flex justify-center gap-5 pb-5 md:px-0 px-10">
    
                    <div>
                        <select name="Flat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected value="">Flat type</option>
                            <option value="BHK">BHK</option>
                            <option value="BK">BK</option>
                            <option value="RK">RK</option> 
                        </select>
        
                    </div>
    
                    <div>
                        <select name="parking" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected value="">Parking</option>
                            <option value="Available">Available</option>
                            <option value="Not Available">Not Available</option>
                        </select>
        
                    </div>
    
    
                    <div>
                        <select name="floor" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected value="">Room Floor</option>
                            <option value="1st Floor">1st Floor</option>
                            <option value="2nd Floor">2nd Floor</option>
                            <option value="3rd Floor">3rd Floor</option>
                            <option value="4th Floor">4th Floor</option>
                            <option value="5th Floor">5th Floor</option>
                            <option value="6th Floor">6th Floor</option>
                        </select>
        
                    </div>
    
    
                    <div>
                        <select name="rent" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected value="">Rent Range</option>
                            <option value="10000">Rs. 10,000</option>
                            <option value="20000">Rs. 20,000</option>
                            <option value="30000">Rs. 30,000</option>
                            <option value="40000">Rs. 40,000</option>
                        </select>
        
                    </div>

                    <button
                    type="submit"
                    class="inline-flex items-center rounded-md bg-[#1F2937] px-4 py-3 text-sm text-white hover:bg-black/80"
                    >
                    <svg fill="#ffffff" height="18px" width="18px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path> </g> </g> </g></svg>
                    <span class="pl-3 pr-3">Search by fiter</span>
                    </button>
                    
                </div>
            </form>

            </div>
        </div>

    {% if search or flat or parking or floor or rent %}
    <div class="px-20 py-3 md:text-2xl font-bold">
        
        <h1>Search results for:
            {% if search %}
                <span>{{ search }}</span>
            {% endif %}
            {% if flat %}
                {% if search %} and {% endif %}
                Flat Type - <span>{{ flat }}</span>
            {% endif %}
            {% if parking %}
                {% if search or flat %} and {% endif %}
                Parking - <span>{{ parking }}</span>
            {% endif %}
            {% if floor %}
                {% if search or flat or parking %} and {% endif %}
                Floor - <span>{{ floor }}</span>
            {% endif %}
            {% if rent %}
                {% if search or flat or parking or floor %} and {% endif %}
                Rent range - <span>{{ rent }}</span>
            {% endif %}
        </h1>

    </div>
    {% endif %}
    
    
        <!-- ROOMS lists -->
    
        {% if allApprovedRooms %}
        <div>
            <div class="md:px-28 px-14 md:grid grid-cols-3 gap-8">
                                        
                {% for room in allApprovedRooms %}
                <!--START: LISTING ROOMS-->
                <div class="p-3 shadow md:w-[350px]">
                    <div id="gallery" class="relative w-full" {% if not room.images.all|length == 1 %} data-carousel="slide" {% endif %}>
                        <!-- Carousel wrapper -->
                        
                        <div class="relative h-56 overflow-hidden rounded-lg">
                            <!-- Item 1 -->
                            {% if room.images.all|length >= 2 %}
                            {% for img in room.images.all %}
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                            </div>
                            {% endfor %}

                            {% elif room.images.all|length == 1 %}

                            {% for img in room.images.all %}
                                <div class=" duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                            {% endfor %}

                            {% endif %}
                           
                        </div>
                        
                       
                    </div>
    
                    <!-- INFO -->
                    <div class="p-2 font-semibold">
                        <h1>{{room.roomTitle}}</h1>
    
                    </div>
    
                    <div class="p-2 ">
                        <h1 class="text-[#1C3988]"><span>Rs. </span><span>{{room.rent}}</span><span> / Month</span></h1>
    
                    </div>
    
                    <div class="p-2 ">
                        <h1>{{room.roomAddress}}</h1>
    
                    </div>
    
                    <div class="">
                        <!-- <button class="w-full py-3 bg-[#1F2937]  font-medium text-white  rounded-md ">More Details</button> -->
                        <a href="{% url 'roomMoreDetails' room.id %}" class=" w-full flex justify-center border border-solid border-[black]  font-medium rounded-md py-3 ">More Details</a>
    
                    </div>
                </div> <!--END: LISTING ROOMS-->
    
                {% endfor %}
            </div>  <!-- ROOM END -->
            
        </div>

        {% else %}
            {% if search or flat or parking or floor or rent %}
                <div class="no-room-container flex justify-center md:text-3xl">
                    <div class="no-room-container flex justify-center md:text-3xl">
                        <!-- No users message -->
                      <div class="container mx-auto flex flex-col items-center justify-center h-[500px]">
                          <div class="lg:text-4xl text-xl  text-gray-700 tracking-wide leading-relaxed mb-6">
                            <h1>No Rooms found matching your search criteria</h1>
                          </div>
                          <img class="h-64 w-64 mb-10" src="{% static 'images/static images/Icons/notfound.svg' %}" alt="">
                      </div>
                      
                  </div>
                </div>
            {% else %}
                <div class="no-room-container flex justify-center md:text-3xl">
                      <!-- No users message -->
                    <div class="container mx-auto flex flex-col items-center justify-center h-[500px]">
                        <div class="lg:text-4xl text-2xl  text-gray-700 tracking-wide leading-relaxed mb-6">
                            <h1>No Rooms are listed currently</h1>
                        </div>
                        <img class="h-64 w-64 mb-10" src="{% static 'images/static images/Icons/searchHouse.svg' %}" alt="">
                    </div>
                    
                </div>
        {% endif %}


        {% endif %}
        
    </div>

{% endblock %}