{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Dashboard{% endblock %}
{% block content %}


    <!-- Main -->
    <div class="flex-1 bg-[#F3F3F3]">
        <!-- Main container Start -->
        <div class="container px-4 py-1 mx-auto">

            <!-- CONTENTS -->
            <div class="bg-white h-full  pb-[100px]  lg:mr-3 mt-[92px] md:ml-30 lg:ml-60 bg-white">

                <div class="text-2xl p-6 font-bold"> <!--HEADING OF LISTING PAGE-->
                    <h1>ROOM LISTING</h1>
                </div>

                <div class="p-6 bg-wite shadow-lg mx-10">

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="flex items-center mb-5">
                          <!--ROOM TITLE -->
                          <label for="roomTitle" class="inline-block w-28 mr-6 text-left 
                                                   font-bold text-gray-600">Room Title</label>
                          <input required type="text" id="roomTitle" name="roomTitle" placeholder="Room Title.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        </div>

                        <div class="flex items-center mb-5">
                          <!--ROOM Description -->
                          <label for="roomDescription" class="inline-block w-28 mr-6 text-left 
                                                   font-bold text-gray-600">Room Description</label>
                          <textarea required type="text" id="roomDescription" name="roomDescription" placeholder="Short description about your room.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                        </div>

                        <div class="flex items-center mb-5">
                          <!--ROOM Address -->
                          <label for="roomAddress" class="inline-block w-28 mr-6 text-left 
                                                   font-bold text-gray-600">Room Address</label>
                          <input required type="text" id="roomAddress" name="roomAddress" placeholder="Room Address.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        </div>
                        
                        <div class="flex items-center mb-5">
                          <!--ROOM Detailed Address -->
                          <label for="detailedRoomAddress" class="inline-block w-28 mr-6 text-left 
                                                   font-bold text-gray-600">Room Detail Address</label>
                          <textarea required type="text" id="detailedRoomAddress" name="detailedRoomAddress" placeholder="Room detailed address.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                        </div>

                        <div class="flex items-center mb-5">
                          <!--ROOM Floor -->
                          <label for="name" class="inline-block w-28 mr-6 text-left font-bold text-gray-600">Room Floor</label>
                                <select name="floor" required
                                class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                value={selectedValue} onChange={handleSelectChange}>
                                {genre.map((item, i) => (
                                <option value="" key={i}>
                                    Select Floor
                                </option>
                                <option value="1st Floor" key={i}>
                                    1st Floor
                                </option>
                                <option value="2nd Floor" key={i}>
                                    2nd Floor
                                </option>
                                <option value="3rd Floor" key={i}>
                                    3rd Floor
                                </option>
                                <option value="4th Floor" key={i}>
                                    4th Floor
                                </option>
                                <option value="5th Floor" key={i}>
                                    5th Floor
                                </option>
                                <option value="6th Floor" key={i}>
                                    6th Floor
                                </option>
                                ))}
                            </select>
                        </div>

                        <div class="flex items-center mb-5">
                            <!--ROOM BAthroom  -->
                            <label for="numberOfBathroom" class="inline-block w-28 mr-6 text-left 
                                                     font-bold text-gray-600">Num of Bathroom</label>
                            <input required min="1" type="number" id="numberOfBathroom" name="numberOfBathroom" placeholder="Num of bathrooms in this room.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        </div>

                        <div class="flex items-center mb-5">
                            <!--ROOM Flat -->
                            <label for="flat" class="inline-block w-28 mr-6 text-left 
                                                     font-bold text-gray-600">Room Flat</label>
                            <input required type="number" min="1" id="flat" name="flat" placeholder="Room Flat num.." class="ml-[-12px] appearance-none block w-1/2 bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <!--FLAT TYPE-->
                            <select name="flatType"
                            class="ml-4 appearance-none block w-2/2 bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            value={selectedValue} onChange={handleSelectChange}>
                            {genre.map((item, i) => (
                            <option value="" key={i}>
                                Choose type
                            </option>
                            <option value="BHK" key={i}>
                                BHK
                            </option>
                            <option value="BK" key={i}>
                                BK
                            </option>
                            <option value="RK" key={i}>
                                RK
                            </option>
                            ))}
                        </select>
                        </div>
                    
                        <div class="flex items-center mb-5">
                            <!--ROOM Parking -->
                            <label for="roomTitle" class="inline-block w-28 mr-6 text-left 
                            font-bold text-gray-600">Parking</label>
                            <select name="parking" required
                            class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            value={selectedValue} onChange={handleSelectChange}>
                            {genre.map((item, i) => (
                            <option value="" key={i}>
                                Parking Availability
                            </option>
                            <option value="Available" key={i}>
                                Available
                            </option>
                            <option value="Not Available" key={i}>
                                Not Available
                            </option>
                            ))}
                            </select>
                        </div>


                        <div class="flex items-center mb-5">
                            <label for="amenities" class="inline-block w-28 mr-6 text-left 
                                                     font-bold text-gray-600">Basic Amenities</label>
                                
                                <div class="grid grid-cols-1 md:grid-cols-5 gap-8 pt-4 justify-center">
                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity1" name="amenity1" value="Medical">
                                        <span>
                                            Medical
                                        </span>
                                    </div>
                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity2" name="amenity2" value="Water">
                                        <span>
                                            Water
                                        </span>
                                    </div>
                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity3" name="amenity3" value="Fire extinguisher">
                                        <span>
                                            Fire extinguisher
                                        </span>
                                    </div>
                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity4" name="amenity4" value="24/7 electricity">
                                        <span>
                                            24/7 electricity
                                        </span>
                                    </div>
                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity5" name="amenity5" value="Air conditioning">
                                        <span>
                                            Air conditioning
                                        </span>
                                    </div>

                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity6" name="amenity6" value="Hot water">
                                        <span>
                                            Hot water
                                        </span>
                                    </div>

                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity7" name="amenity7" value="Smoke alarm">
                                        <span>
                                            Smoke Alarm
                                        </span>
                                    </div>

                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity8" name="amenity8" value="Playground">
                                        <span>
                                            Playground
                                        </span>
                                    </div>

                                    <div>
                                        <input class="mr-2 leading-tight" type="checkbox" id="amenity9" name="amenity9" value="Garden">
                                        <span>
                                            Garden
                                        </span>
                                    </div>
                                </div>
                            </div>    

                            <div class="flex items-center mb-5">
                                <!--ROOM Rules  -->
                                <label for="ruleInput" class="inline-block w-28 mr-6 text-left 
                                font-bold text-gray-600">Room Rules</label>
                                <input type="text" id="ruleInput"
                                class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                placeholder="Enter Rules">
                                <button type="button" onclick="addRule()"
                                class="bg-[#1F2937] text-white ml-5 py-3 px-8">Add</button>
                            </div>


                            <div class="pb-5" id="rulesContainerWrapper" style="display: none;">
                                <div id="rulesContainer"
                                    class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                    <h1 class="text-2xl font-semibold pb-5 ">Rules</h1>
                                    <!-- Rules will be dynamically added here -->
                                    <input type="hidden" id="hiddenRulesInput" name="rules" value="" required>
                                </div>
                            </div>

                            <!--UTILITY Information-->
                            <div class="flex items-center mb-5">
                                <!--ROOM Electricity unit -->
                                <label for="Electricity" class="inline-block w-28 mr-6 text-left 
                                                         font-bold text-gray-600">Electricity Rate</label>
                                <input required type="number" id="Electricity"  min="1" name="Electricity" step="0.01" placeholder="Per Unit.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>
                            
                            <div class="flex items-center mb-5">
                                <!--ROOM Water  -->
                                <label for="Water" class="inline-block w-28 mr-6 text-left 
                                                         font-bold text-gray-600">Water Rate</label>
                                <input required type="number" id="Water" name="Water" min="1" placeholder="Per Month.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>

                            <div class="flex items-center mb-5">
                                <!--ROOM Water  -->
                                <label for="Trash" class="inline-block w-28 mr-6 text-left 
                                                         font-bold text-gray-600">Trash Rate</label>
                                <input required type="number" id="Trash" name="Trash" min="1" placeholder="Per Month.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>

                            <div class="flex items-center mb-5">
                                <!--ROOM RENT  -->
                                <label for="Rent" class="inline-block w-28 mr-6 text-left 
                                                         font-bold text-gray-600">Room Rate</label>
                                <input required type="number" id="Rent" name="Rent" min="1" placeholder="Rent Rate Per Month.." class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>

                            <!--CHOOSING ROOM IMAGE -->
                            <div class="flex items-center mb-5">
                                <label for="Rent" class="inline-block w-28 mr-6 text-left 
                                                            font-bold text-gray-600">Room Pictures</label>
                                <label for="roomImage" class="sr-only">Choose file</label>
                                <input type="file" name="roomImage" id="roomImage" 
                                    accept="image/png, image/jpeg" multiple
                                    class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none 
                                    file:bg-gray-50 file:border-0
                                    file:me-4
                                    file:py-3 file:px-4
                                    ">
                            </div>


                            <!--CHOOSING ROOM DOCUMENTS IMAGES-->
                            <div class="flex items-center mb-5">
                                <label for="Rent" class="inline-block w-28 mr-6 text-left 
                                                            font-bold text-gray-600">Room Documents</label>
                                <label for="roomDocument" class="sr-only">Choose file</label>
                                <input type="file" name="roomDocument" id="roomDocument" 
                                    accept="image/png, image/jpeg" multiple
                                    class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none 
                                    file:bg-gray-50 file:border-0
                                    file:me-4
                                    file:py-3 file:px-4
                                    ">
                            </div>

                            <button name="step1" type="submit"
                            class="mb-4  bg-[#1F2937] text-white my-3  py-3 px-10 rounded">Save</button>  

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

  <script src="{% static 'js/roomListing.js' %}" type="text/javascript"></script>

{% endblock %}