{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load custom_tags_room %}
{% load static %}
{% block title %}RoomRent | My Room{% endblock %}
{% block content %}



    <!-- Main -->
    <div class="flex-1 bg-[#F3F3F3]">
        <!-- Main container Start -->
        <div class="container px-4 py-1 mx-auto">

            <!-- CONTENTS -->
            <div class="bg-white h-full  pb-[100px]  lg:mr-3 mt-[15px] md:ml-30 lg:ml-60 bg-white">
        <div class="p-5 text-[#0F0F4B]">
          <h1 class="font-semibold text-[17px] md:text-3xl "> 
            {% if request.user.is_authenticated and not request.user.is_superuser and notJoinedAndPending %} 
                {% if step == None or step == 'myroom' %} 
                      <span class="text-black">Pending approval to join room</span>
                  {% else %}
                      <span class="text-black">All Booking Logs</span>
                  {% endif %} 
          

             {% elif bookedRoomDetails or request.user|has_group:"tenant" %}

              {% if step == None or step == 'myroom' %} 
                My Joined Room
              {% else %}
              All Booking Logs
              {% endif %}

             {% elif request.user|has_group:"owner" %}

            My Room Listings

            {% endif %}
            </h1>
          </div>
                
                {% if  request.user|has_group:"tenant" %} 
                <!-- CHANGE PAGE -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="sub-heading flex p-3 gap-3 gap">
                      <div>
                          <button type="submit" name="myroom" class=" p-2 px-4 border
                          bg-[#54b4d3]
                          text-white
                          ">My Room</button>
                      </div>

                      <div>
                          <button type="submit" name="bookinglog" class=" relative 
                          bg-[#e4a11b]
                          text-white
                          p-2 px-4 ">Booking Logs 
                      
                    
                      </button>

                      </div>

                    </div>
                </form>
                {% endif %}

                {% if step == None or step == 'myroom' %}
                   
                 <!-- ROOM START -->
                <div class="pl-9 md:flex flex-wrap gap-8">

                    <!-- IF USER IS TENANT -->
                    {% if  request.user|has_group:"tenant" %} 
                            
                    {% if bookedRoomDetails  %}
                        
                    
                        
                    {% for joinedRoom in bookedRoomDetails %}
                        
                   

                    <!--START: BOOKED ROOMS details -->
                    <div class="p-3 shadow-xl md:w-[350px]  border-[0.5px] shadow-sm">
                        <div id="gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            
                            <div class="relative h-56 overflow-hidden rounded-lg">
                                <!-- Item 1 -->
                                {% for img in joinedRoom.room.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                                {% endfor %}

                               
                            </div>
                            
                            
                        </div>

                        <!-- INFO -->
                        <div class="p-2 font-semibold">
                            <h1>{{joinedRoom.room.roomTitle}}</h1>

                        </div>

                        <div class="p-2 ">
                            <h1><span>{{joinedRoom.room.rent}}</span><span> / Month</span></h1>

                        </div>

                        <div class="p-2 ">
                            <h1>{{joinedRoom.room.roomAddress}}</h1>

                        </div>

                        <div class="">
                            {% comment %} <a href="{% url 'roomMoreDetails' room.id %}" class=" w-full flex justify-center border border-solid border-[black]  font-medium rounded-md py-3 ">More Details</a> {% endcomment %}
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">More Details</button>
                                <input type="hidden" name="page" value="{{joinedRoom.room.id}}">
                            </form>
                        </div>
                    </div> <!--END: LISTING ROOMS-->
                    {% endfor %}
                    {% elif not bookedRoomDetails and request.user|has_group:"tenant" %}

                    <div>
                        <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
                
                          <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed  ">
                            <h1 class="p-20 mt-10">Currently you have not joined the room !!</h1>
                          </div>
                
                          <div class="mb-10 pb-10 md:w-2/3">
                            <img class="h-full" src="{% static 'images\static images\staticPageImages\noRoom.jpg' %}" alt="" srcset="">
                          </div>
                
                        </div>
                      </div>
                    
                    {% endif %}
                    
                    <!-- IF USER IS OWNER -->
                    {% else %}
                    {% if allRooms %}

                        
                    {% for room in allRooms %}
                    <!--START: LISTING ROOMS-->
                    <div class="p-3 shadow-xl md:w-[350px]  border-[0.5px] shadow-sm">
                        <div id="gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            
                            <div class="relative h-56 overflow-hidden rounded-lg ">
                                <!-- Item 1 -->
                                {% for img in room.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                                {% endfor %}

                               
                            </div>
                            
                           
                        </div>

                        <!-- INFO -->
                        <div class="p-2 font-semibold">
                            <h1>{{room.roomTitle|truncatechars:35}}</h1>

                        </div>

                        <div class="p-2 ">
                            <h1><span>Rs. {{room.rent}}</span><span> / Month</span></h1>

                        </div>

                        <div class="p-2 flex justify-between">
                            <h1>{{room.roomAddress|truncatechars:17}}</h1>
                            
                            {% if room.id in hasMoveOutDate %}
                            <h1 class="text-[#0766AD]">Moveout in process</h1>

                            {% else %}
                                
                                {% if room.approved == False %}
                                        <h1 class="font-bold text-[#ff0058c4]">Pending approval</h1>

                                
                                {% elif room.isBooked %}
                                         {% if room.isBooked and room.isAvailable == False %}
                                        <h1 class="text-[#0766AD]">Joined</h1>
                                        {% else %}

                                        <h1 class="text-[#0766AD]">Room Booked</h1>
                                        {% endif %}
                                

                                {% else %}
                                    
                                {% endif %}
                                  
                            {% endif %}
                       
                        </div>

                        <div class="">
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">More Details</button>
                                <input type="hidden" name="page" value="{{room.id}}">
                            </form>
                        </div>
                    </div> <!--END: LISTING ROOMS-->

                    {% endfor %}

                    {% else %}

                    <div>
                        <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
                
                          <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
                            <h1 class="p-20 mt-10">You do not have listed any room currently.</h1>
                          </div>
                
                          <div class="mb-10 pb-10 md:w-2/3">
                            <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
                          </div>
                
                        </div>
                      </div>

                    {% endif %}

                    {% endif %}
                    
                    
                </div>  <!-- ROOM END -->
                
                <!--IF BOOKING LOG BUTTON IS CLICKED-->
                {% else %}

                
                {% if not bookingLog %}
                <div>
                    <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
            
                      <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
                        <h1 class="p-20 mt-10">No Booking logs</h1>
                      </div>
            
                      <div class="mb-10 pb-10 md:w-2/3 ">
                        <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
                      </div>
            
                    </div>
                  </div>
                {% endif %}


                {% if bookingLog %}

                <div class="flex flex-col pt-10 px-5 h-screen overflow-x-auto">
                  <div class="sm:-mx-6  lg:-mx-8">
                      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                          <div class="overflow-x-auto">
                              <table class="min-w-full text-left text-sm font-light border-2">
                                  <thead class="border-b font-medium bg-gray-200">
                                  <tr>
                                      <th scope="col" class="p-4 w-1/4">Room Title</th>
                                      <th scope="col" class="p-4 w-1/4">Booked on</th>
                                      <th scope="col" class="p-4 w-1/4">Owner</th>
                                      <th scope="col" class="p-4 w-1/4">Status</th>
                                  </tr>
                                  </thead>
                                  {% for room in bookingLog %}
                                  <tbody>
                                      <tr class="border-2 ">
                                        <td class="whitespace-nowrap px-6 py-4"><a class="text-[#0766AD]" href="{% url 'roomMoreDetails' room.room.id  %}">{{room.room.roomTitle }}</p></a></td>
                                          <td class="whitespace-nowrap px-6 py-4">{{room.bookingDate }}</td>
                                          <td class="whitespace-nowrap px-6 py-4">{{room.room.user}}</td>
                                          <td class="whitespace-nowrap px-6 py-4">{{room.status}}</td>
                                      </tr>
                                  </tbody>
                                  {% endfor %} 
                              </table>
                          </div>
                      </div>
                  </div>
              </div>  
                  {% endif %}
                 {% endif %}
              </div>
               
            </div>


            </div>  <!-- END CONTENTS -->
        </div>
    </div>
    
{% endblock %}