{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load custom_tags_room %}
{% load static %}
{% block title %}RoomRent | Rooms{% endblock %}
{% block content %}



    <!-- Main -->
    <div class="flex-1 bg-[#F3F3F3]">
        <!-- Main container Start -->
        <div class="container px-4 py-1 mx-auto">

            <!-- CONTENTS -->
            <div class="bg-white h-screen  pb-[100px]  lg:mr-3 mt-[92px] md:ml-30 lg:ml-60 bg-white">

                <!-- HEADING -->
                <div class="flex justify-between pr-3">
                    <div>
                        <h1 class="font-semibold text-[17px] md:text-3xl p-6"> 
                            {% if request.user.is_authenticated and not request.user.is_superuser and notJoinedAndPending %} 
                             <span class="text-[#0766AD]">Pending approval</span>

                             {% elif bookedRoomDetails or request.user|has_group:"tenant" %}

                            My Joined Room

                             {% elif request.user|has_group:"owner" %}

                            My Room Listings

                            {% endif %}
                            </h1>
                    </div>
                </div>

                {% if  request.user|has_group:"tenant" %} 
                <!-- CHANGE PAGE -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="sub-heading flex p-3 gap-3 gap">
                    <div>
                        <button type="submit" name="myroom" class="hover:bg-[#00ffc321] p-2 px-4 border text-[#39c9a7] 
                        {% if step == None or step == 'myroom' %}
                        bg-[#00ffc321]
                        {% else %}
                        bg-[#39c9a70d]
                        {% endif %} 
                        border-[#39c9a71a]">My Room</button>
                    </div>

                    <div>
                        <button type="submit" name="bookinglog" class=" relative 
                        {% if step == 'bookinglog' %}
                        bg-[#f58c5c24]
                        {% else %}
                        bg-[#f58c5c0d] 
                        {% endif %} 
                    hover:bg-[#f58c5c24] p-2 px-4 text-[#f58c5c] border-[#f58c5c1a] border">Booking Logs 
                    
                  
                    </button>

                    </div>

                    </div>
                </form>
                {% endif %}


                





















                {% if step == None or step == 'myroom' %}
                   
                 <!-- ROOM START -->
                <div class="pl-9 md:flex flex-wrap gap-8">

                    <!-- IF USER IS TENANT -->
                    {% if  request.user|has_group:"tenant" %} 
                            
                    {% if bookedRoomDetails  %}
                        
                    
                        
                    {% for joinedRoom in bookedRoomDetails %}
                        
                   

                    <!--START: BOOKED ROOMS details -->
                    <div class="p-3 shadow-xl md:w-[350px]">
                        <div id="gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            
                            <div class="relative h-56 overflow-hidden rounded-lg">
                                <!-- Item 1 -->
                                {% for img in joinedRoom.room.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                                {% endfor %}

                               
                            </div>
                            
                            
                        </div>

                        <!-- INFO -->
                        <div class="p-2 font-semibold">
                            <h1>{{joinedRoom.room.roomTitle}}</h1>

                        </div>

                        <div class="p-2 ">
                            <h1><span>{{joinedRoom.room.rent}}</span><span> / Month</span></h1>

                        </div>

                        <div class="p-2 ">
                            <h1>{{joinedRoom.room.roomAddress}}</h1>

                        </div>

                        <div class="">
                            {% comment %} <a href="{% url 'roomMoreDetails' room.id %}" class=" w-full flex justify-center border border-solid border-[black]  font-medium rounded-md py-3 ">More Details</a> {% endcomment %}
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">More Details</button>
                                <input type="hidden" name="page" value="{{joinedRoom.room.id}}">
                            </form>
                        </div>
                    </div> <!--END: LISTING ROOMS-->
                    {% endfor %}
                    {% elif not bookedRoomDetails and request.user|has_group:"tenant" %}

                    <h1 class="text-xl">Currently you have not joined the room</h1>
                    
                    {% endif %}
                    
                    <!-- IF USER IS OWNER -->
                    {% else %}
                    {% if allRooms %}

                        
                    {% for room in allRooms %}
                    <!--START: LISTING ROOMS-->
                    <div class="p-3 shadow-xl md:w-[350px]">
                        <div id="gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            
                            <div class="relative h-56 overflow-hidden rounded-lg">
                                <!-- Item 1 -->
                                {% for img in room.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                                {% endfor %}

                               
                            </div>
                            
                           
                        </div>

                        <!-- INFO -->
                        <div class="p-2 font-semibold">
                            <h1>{{room.roomTitle}}</h1>

                        </div>

                        <div class="p-2 ">
                            <h1><span>{{room.rent}}</span><span> / Month</span></h1>

                        </div>

                        <div class="p-2 flex justify-between">
                            <h1>{{room.roomAddress|truncatewords:3}}</h1>
                            
                            {% if room.id in hasMoveOutDate %}
                            <h1 class="text-[#0766AD]">Moveout in process</h1>

                            {% else %}
                                
                                {% if room.approved == False %}
                                        <h1 class="font-bold text-[#ff0058c4]">Pending approval</h1>

                                
                                {% elif room.isBooked %}
                                         {% if room.isBooked and room.isAvailable == False %}
                                        <h1 class="text-[#0766AD]">Joined</h1>
                                        {% else %}

                                        <h1 class="text-[#0766AD]">Room Booked</h1>
                                        {% endif %}
                                

                                {% else %}
                                    
                                {% endif %}
                                  
                            {% endif %}
                       
                        </div>

                        <div class="">
                            {% comment %} <a href="{% url 'roomMoreDetails' room.id %}" class=" w-full flex justify-center border border-solid border-[black]  font-medium rounded-md py-3 ">More Details</a> {% endcomment %}
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">More Details</button>
                                <input type="hidden" name="page" value="{{room.id}}">
                            </form>
                        </div>
                    </div> <!--END: LISTING ROOMS-->

                    {% endfor %}

                    {% else %}

                    <h1>You do not have listed any room currently.</h1>

                    {% endif %}

                    {% endif %}
                    
                    
                </div>  <!-- ROOM END -->
                
                <!--IF BOOKING LOG BUTTON IS CLICKED-->
                {% else %}

                
                {% if not bookingLog %}
                    <h1 class="pl-7">No Booking logs</h1>
                {% endif %}


                {% if bookingLog %}
                <!--BOOKING LOGS DETAILS-->
                <table class="md:w-full w-full md:text-md text-sm bg-white shadow-md rounded mb-4">
                    <tbody>
                      <tr class="border-b bg-gray-100">
                        <th class="text-left p-3 px-5">Room Title</th>
                        <th class="text-left p-3 px-5">Booked on</th>
                        <th class="text-left p-3 px-5">Owner</th>
                        <th class="text-left p-3 px-5">Status</th>
                      </tr>
          
          
                      {% for room in bookingLog %}
          
          
                      <tr class="border-b hover:bg-gray-100">
          
                        <td class="p-3 px-5">
                          <a class="text-[#0766AD]" href="{% url 'roomMoreDetails' room.room.id  %}">{{room.room.roomTitle }}</p></a>
                        </td>
                        <td class="p-3 px-5">
                          <p>{{room.bookingDate }}</p>
                        </td>
                        <td class="p-3 px-5">
                          <p>{{room.room.user}}</p>
                        </td>
                        <td class="p-3 px-5">
                            <p>{{room.status}}</p>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}


























                    
                
            </div>
                {% endif %}
                    




                
            </div>


            </div>  <!-- END CONTENTS -->
        </div>
    </div>
    
{% endblock %}