{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% load static %}
{% block title %}RoomRent | Room{% endblock %}
{% load custom_tags %}

{% block content %}

<div class="flex-1 bg-[#F3F3F3]">
    <!-- Main container Start -->
    <div class="container px-4 py-1 mx-auto ">

        <!-- CONTENTS -->
        <div
            class="bg-white h-full md:px-20  pb-[100px]  lg:mr-3 mt-[92px] {% if '/room/details/' in request.path  %} {% else %}md:ml-30 lg:ml-60 {% endif %} bg-white pr-3">

            <div class="text-[#1C3988] text-[20px] pl-5 pt-3 flex justify-between">

                <div class="pt-2 underline">
                    <div class="pt-1 pl-1 flex justify-between ">
                        <!--<a href=""><svg width="24px" height="24px" viewBox="0 0 1024 1024" fill="#1C3988" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill=""></path></g></svg></a> -->
                        <a class="font-bold" href="{% url 'room' %}">
                            <h1>Back</h1>
                        </a>
                    </div>
                </div>

            </div>



            {% if roomDetail %}

            <!-- Heading -->
            <div class="md:text-4xl text-[19px] py-5 pl-5">
                <div>
                    <h1>{{roomDetail.roomTitle}}</h1>
                </div>
            </div>

            <div class="justify-center flex gap-4 pb-4 md:px-10">
                {% if roomDetail.images.first %}
                <img src="{{ roomDetail.images.first.image.url }}" alt="Room Image"
                    class="rounded rounded-xl pl-2 pt-3 w-[930px] h-full object-cover rounded-xl" />

                {% endif %}

                {% if roomDetail.images.all|length >= 2 %}
                <div class="space-y-4">

                    <img src="{{ roomDetail.images.all.1.image.url }}" alt="Room Image" class="pt-3 w-96 rounded" />


                    {% if roomDetail.images.all|length >= 3 %}
                    <div class="relative">
                        <img src="{{ roomDetail.images.all.2.image.url }}" alt="Room Image"
                            class="pt-3 w-96 rounded relative bg-orange-500 " />

                        {% if roomDetail.images.all|length >= 3 %}
                        <button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal"
                            class="absolute right-[15px] text-sm bottom-[15px] md:p-2 p-1 md:px-3 text-gray-600 bg-white uppercase rounded hover:bg-gray-100">
                            show more</button>

                        <!-- Main modal for showing all room image-->
                        <div id="default-modal" tabindex="-1" aria-hidden="true"
                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4 w-full max-w-2xl max-h-full">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow ">
                                    <!-- Modal header -->
                                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
                                        <h3 class="text-xl font-semibold text-gray-900">
                                            All images of this room
                                        </h3>
                                        <button type="button"
                                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center "
                                            data-modal-hide="default-modal">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    <!-- Modal body containing iamge-->
                                    <div class="px-5 md:p-5 space-y-10 justify-center">
                                        {% for img in roomDetail.images.all %}
                                        <div class="space-y-4">

                                            <a href="{{ img.image.url }}" target="_blank"><img class="w-full"
                                                    src="{{ img.image.url }}" alt="Room Image"
                                                    class="pt-3 w-96 rounded" /></a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
                                        <button data-modal-hide="default-modal" type="button"
                                            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 outline outline-1 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>



            <!-- Room Title -->

            <!-- End: Room Title -->



            <!-- Room Description -->
            <div class="md:flex gap-10 pt-7 pl-4 ">

                <div class="md:w-4/5">
                    <div class="pb-5">
                        <h1 class="md:text-3xl text-[19px] pb-1 font-bold">Description</h1>
                        <p class="text-justify pt-3 leading-loose md:text-[19px] text-[17px]">
                            {{roomDetail.roomDescription}}
                        </p>
                    </div>

                    <div class="pt-5  border border-3 shadow  pb-5 mb-4">
                        <h1 class="md:text-3xl text-[19px] pb-1 pl-6 pb-3 font-bold">Rules</h1>
                        <p class="text-justify pl-5 leading-loose">
                            
                            
                            {% if roomRules %}
                            {% if roomRules.0 != '' %}
                                {% for rule in roomRules %}
                                    {{ rule }} <br>
                                {% endfor %}
                            {% else %}
                                <h1 class="pl-4">No rules have been posted</h1>
                            {% endif %}
                        {% else %}
                            <h1>No rules have been posted</h1>
                        {% endif %}
                        


                        </p>
                    </div>
                </div>


                <div class="md:w-2/5 h-[390px] border border-3 shadow  rounded-md">
                    <div>
                        <h1 class="md:text-3xl text-[19px] text-center pt-5 font-bold">Rs
                            <span>{{roomDetail.rent}}</span> / Month</h1>
                    </div>

                    <!-- <div>
                        <h1 class="pl-9 pt-8 font-bold" >Moved in date:</h1>
                    </div>

                    <div class="rounded-md bg-white w-[200px] ml-9 p-2 gap-2 mt-2 font-bold flex">
                        <p><span><img src="/images/static images/Icons/eva_calendar-fill.svg" alt=""><h1>31/31/2023</h1></span></p>
                    </div> -->

                    <div data-popover id="popover-default" role="tooltip"
                        class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
                        <div class="px-3 py-2 bg-[#FF3131] border-b border-gray-200 rounded-t-lg">
                            <h3 class="font-semibold text-white ">WARNING</h3>
                        </div>
                        <div class="px-3 py-3">
                            <p>Your booking may be rejected if you provide inappropriate date.</p>
                        </div>
                        <div data-popper-arrow></div>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if request.user|has_group:"owner" and hasNotMoveOutDate == False %}

                        {% else %}
                        <div class="relative max-w-sm ml-8 mt-3">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input required name="moveInOrMoveoutDate" value="" data-popover-target="popover-default" 
                                type="date"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  "
                                placeholder="Select date">
                        </div>
                        {% endif %}


                        <!-- Utility head -->
                        <div class="ml-9 mt-5 mb-2">
                            <h1 class="font-bold">Utility info:</h1>
                        </div>

                        <!-- Utility List -->
                        <div class="">
                            <!-- Electricity -->
                            <div class=" flex ml-9 gap-4 mt-5">

                                <div class=" mb-2">
                                    <img src="/images/static images/Icons/Group.svg" alt="">
                                </div>

                                <div class=" justify-between pr-12 flex w-[400px]">
                                    <div>
                                        <h1>Electricity</h1>
                                    </div>

                                    <div class=" ">
                                        <div>
                                            <h2><span>Rs. </span><span>{{roomDetail.electricity}}</span> / unit</h2>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <!-- Water  -->
                            <div class=" flex ml-9 gap-4 mt-5">

                                <div class="pt-1 mb-2">
                                    <img src="/images/static images/Icons/Vector.svg" alt="">
                                </div>

                                <div class=" justify-between pr-12 flex w-[400px]">
                                    <div>
                                        <h1>Water</h1>
                                    </div>

                                    <div class=" ">
                                        <div>
                                            <h2>Rs. <span>{{roomDetail.water}}</span> / Month</h2>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Trash  -->
                            <div class=" flex ml-9 gap-4 mt-5">

                                <div class=" mb-2">
                                    <img src="/images/static images/Icons/Vector (1).svg" alt="">
                                </div>

                                <div class=" justify-between pr-12 flex w-[400px]">
                                    <div>
                                        <h1>Trash</h1>
                                    </div>

                                    <div class=" ">
                                        <div>
                                            <h2>Rs. <span>{{roomDetail.trash}}</span> / Month</h2>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                        <input type="hidden" name="room_id" value="{{roomDetail.id}}">

                        <!-- Modal HTML -->
                        <div id="popup-modal" tabindex="-1"
                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <!-- Modal content -->
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <div class="relative bg-white rounded-lg shadow">
                                    <button type="button"
                                        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                                        data-modal-hide="popup-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                    <div class="p-4 md:p-5 text-center">
                                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 " aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>
                                        {% if hasJoinedRoom and request.user|has_group:"tenant" %}
                                        <h3 class="mb-5 text-lg font-normal text-gray-700">Are you sure you want to inform
                                            moveout?</h3>

                                            <div class="col-span-2 mb-5">
                                                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Leave a feedback</label>
                                                <textarea name="feedback" value="" id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Give review and feedback for this room"></textarea>                    
                                            </div>

                                        {% elif request.user|has_group:"owner" and hasNotMoveOutDate == False and bookedRoomInfo %}
                                        <div>
                                            <h3 class="mb-3 text-lg font-normal text-gray-700">Before removing the tenant return the deposit.</h3>
                                            
                                            {% for book in bookedRoomInfo %}

                                            <h1 class="mb-3">Tenant total deposit amoint: <span class="font-bold">Rs. {{book.roombilling.deposit}}</span></h1>

                                            {% endfor %}
                                           

                                            <input class="mb-6 "
                                                type="checkbox" name="chargeFine" value="True" id="checked-checkbox">
                                            <label for="checked-checkbox" class="font-bold text-gray-900 ">Charge fine from deposit</label>

                                            <!-- Input fields to show/hide -->
                                            <div id="fine-fields" style="display: none;">
                                                <input min=1 class="w-full px-3 py-2 mb-2 text-sm leading-tight text-gray-700 border-2 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                                    type="number" name="fineAmount" id="fine-amount" placeholder="Enter fine amount">
                                                <textarea class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border-2 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                                    type="text" name="fineReason" id="fine-reason" placeholder="Enter reason for fine"></textarea>
                                            </div>

                                        </div>

                                        {% else %}
                                        <h3 class="mb-5 text-lg font-normal text-gray-700">Are you sure you want to book
                                            this room?</h3>
                                        {% endif %}
                                        
                                        {% if hasJoinedRoom and request.user|has_group:"tenant" %}
                                                <button data-modal-hide="popup-modal" type="submit" name="moveout"
                                                class="text-white bg-gray-800 hover:bg-gray-700 focus:ring-4 outline outline-1 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-6 py-3 mr-4 text-center">
                                                Confirm
                                            </button>
                                        {% elif request.user|has_group:"owner" and hasNotMoveOutDate == False and bookedRoomInfo%}
                                        
                                        {% for book in bookedRoomInfo %}
                                        <input type="hidden" name="tenantUser" value="{{book.user.id}}">

                                        {% endfor %}
                                                <button type="submit" name="removeTenant"
                                                class="text-white bg-gray-800 hover:bg-gray-700 focus:ring-4 outline outline-1 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-6 py-3 mr-4 text-center">
                                                Return Deposit
                                            </button>
                                        {% else %}
                                                <button data-modal-hide="popup-modal" type="submit"
                                                class="text-white bg-gray-800 hover:bg-gray-700 focus:ring-4 outline outline-1 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-6 py-3 mr-4 text-center">
                                                Confirm
                                            </button>
                                        {% endif %}

                                        <button data-modal-hide="popup-modal" type="button"
                                            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 outline outline-1 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100">No,
                                            cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!-- Book Now -->
                        <div class="p-6 pl-9">
                            <input type="hidden" name="user" value="{{request.user}}">
                            
                            <!--IF USER IS TENANT AND HAS NOT JOINED ROOM-->
                            {% if not hasJoinedRoom and request.user|has_group:"tenant" %} 
                                
                                {% if not hasBookedThisRoom %} <!--IF TENANT HAS NOT BOOKED THE ROOM -->
                                        
                                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button"
                                    class="text-white bg-[#1F2937] focus:ring-4 focus:outline-none focus:ring-[#050708]/20 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
                                    <span><img src="/images/static images/Icons/iconamoon_exit-fill.svg" alt="">Book now</span>
                                
                                {% else %} <!---IF TENANT IS LOGGED IN : IF TENANT HAS BOOKED BUT NOT JOINED THIS ROOM THEN SHOW THIS MESSAGE-->
                                    <h1 class="text-[#0766AD] font-bold">You have booked this room.</h1>
                                {% endif %}
                            

                            <!--IF OWNER IS LOGGED IN : IF TENANT HAS BOOKED THE ROOM BUT NOT JOINED SHOW THIS MESSAGE-->
                            {% elif request.user|has_group:"owner" %}

                                {% if not hasJoinedRoom and hasBookedThisRoom  %}
                                    
                                    <h1 class="text-[#FF3131] font-bold">Tenant has booked this room</h1>
                                
                                    {% elif request.user|has_group:"owner" and hasJoinedMyRoom %}
                                        
                                        {% if hasNotMoveOutDate == False %} <!--if moveout date-->
                                                {% for booking in isJoinedThisRoom %}
                                                <h1 class="text-[#0766AD] font-bold">Tenant will move out within: {{ booking.moveOutDate|date }}</h1>
                                                
                                                <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button"
                                                class="mt-2 text-white bg-[#1F2937] focus:ring-4 focus:outline-none focus:ring-[#050708]/20 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
                                                <span><img src="/images/static images/Icons/iconamoon_exit-fill.svg" alt="">Moveout Tenant</span>
                                            
                                                {% endfor %}
                                            {% else %}
                                            <h1 class="text-[#0766AD] font-bold">Tenant has joined this room</h1>
                                        {% endif %}

                                    {% elif hasNotMoveOutDate == False %}

                                    

                                {% endif %}

                            {% elif hasJoinedRoom and hasBookedThisRoom and request.user|has_group:"tenant" %}
                            
                                {% if hasNotMoveOutDate == False %} <!--if moveout date-->
                                    {% for booking in isJoinedThisRoom %}
                                    <h1 class="text-[#FF3131] font-bold">You have informed to moveout within {{ booking.moveOutDate|date }}.</h1>
                                    {% endfor %}
                                    
                                    {% else %}
                                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" type="button" name="moveout"
                                    class="text-white bg-[#1F2937] focus:ring-4 focus:outline-none focus:ring-[#050708]/20 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
                                    <span><img src="/images/static images/Icons/iconamoon_exit-fill.svg" alt="">Inform Moveout</span>
                                {% endif %}
                                
                            {% elif hasJoinedRoom and not hasBookedThisRoom and request.user|has_group:"tenant" %}
                                <h1 class="text-[#FF3131] font-bold">You have already joined a room</h1>
                                
                            

                            {% endif %}
                         
                        </div>

                </div>


            </div> <!-- Room Description END-->


            <!-- Amenities and ROom Info START -->
            <div class="md:flex gap-10 pt-7 pl-4 ">

                <div class="md:w-4/5">
                    <div class="pt-5  border border-3 shadow  pb-5 mb-4">
                        <h1 class="md:text-3xl text-[19px] pb-1 pl-3 flex  justify-center font-bold">Amenities</h1>

                        <div
                            class="text-gray-700 md:grid md:grid-cols-3 justify-center pt-5 pl-5 md:px-10 md:text-[19px] md:gap-20 text-[14px] pb-10">

                            {% for a in amenities %}
                            <div>
                                {{a}}
                            </div>
                            {% endfor %}
                        </div>



                    </div>
                </div>

                <!--Room Info START-->
                <div class="md:w-2/5 border border-3 shadow  rounded-md h-[330px]">

                    <div class="">
                        <h1 class="md:text-3xl text-[19px] flex justify-center pt-4 pl-3 font-bold">Room Info</h1>

                        <div class="main-container-info pt-3">

                            <div class="grid grid-cols-2 px-3 py-2 ">

                                <!--ICON AND TYPE-->
                                <div class="grid grid-cols-2">
                                    <!--ICON-->
                                    <div class="">
                                        <img class="ml-8 mt-1 h-8 w-8" src="/images/static images/Icons/house.svg"
                                            alt="">
                                    </div>


                                    <!--TYPE-->
                                    <div class="p-2  text-[16px] md:text-xl font-bold">
                                        <h1>Flat</h1>
                                    </div>
                                </div>


                                <!--INFO-->
                                <div class="p-2   text-[16px] md:text-xl text-gray-700">
                                    <h1>{{roomDetail.flat}}</h1>
                                </div>


                                <!--ICON AND TYPE FOR floor START -->
                                <div class="grid grid-cols-2">
                                    <!--ICON-->
                                    <div class="ml-9 mt-2">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M11 6C9.34315 6 8 7.34315 8 9V17C8 17.5523 8.44772 18 9 18C9.55229 18 10 17.5523 10 17V14L12.0045 14C12.2149 13.9987 12.426 13.974 12.6332 13.9395C12.9799 13.8817 13.4575 13.7642 13.9472 13.5194C14.4409 13.2725 14.9649 12.8866 15.3633 12.289C15.7659 11.6851 16 10.9249 16 9.99996C16 9.07499 15.7659 8.31478 15.3633 7.71092C14.9649 7.11332 14.4408 6.7274 13.9472 6.48058C13.4575 6.23573 12.9799 6.11828 12.6332 6.06049C12.4248 6.02575 12.2117 6.0001 12 6H11ZM10 12V9C10 8.44772 10.4477 8 11 8L12.0004 8.00018C12.3603 8.01218 12.7318 8.10893 13.0528 8.26944C13.3092 8.39762 13.5351 8.5742 13.6992 8.82033C13.8591 9.06021 14 9.42497 14 9.99996C14 10.575 13.8591 10.9397 13.6992 11.1796C13.5351 11.4258 13.3091 11.6023 13.0528 11.7305C12.7318 11.891 12.3603 11.9878 12.0003 11.9998L10 12Z"
                                                    fill="#0F0F0F"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z"
                                                    fill="#0F0F0F"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <!--TYPE-->
                                    <div class="p-2  text-[16px] md:text-xl font-bold">
                                        <h1>Parking</h1>
                                    </div>
                                </div>


                                <!--INFO-->
                                <div class="p-2  text-[16px] md:text-xl">
                                    <h1>{{roomDetail.parking}}</h1>
                                </div>

                                <!--ICON AND TYPE FOR floor END -->




                                <!--ICON AND TYPE FOR floor START -->
                                <div class="grid grid-cols-2">
                                    <!--ICON-->
                                    <div class="ml-9 mt-2">
                                        <svg fill="#000000" width="24px" height="24px" viewBox="0 0 64 64"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <title></title>
                                                <g data-name="Layer 39" id="Layer_39">
                                                    <path
                                                        d="M59,3V6H45v6H31v8H17v8H5V59H3v2H61V3Zm0,55H7V30H19V22H33V14H47V8H59Z">
                                                    </path>
                                                    <polygon
                                                        points="12 6 12 20 14 20 14 6 19.87 10.4 21.07 8.8 13 2.75 4.93 8.8 6.13 10.4 12 6">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>


                                    <!--TYPE-->
                                    <div class="p-2  text-[16px] md:text-xl font-bold">
                                        <h1>Floor</h1>
                                    </div>
                                </div>


                                <!--INFO-->
                                <div class="p-2  text-[16px] md:text-xl">
                                    <h1>{{roomDetail.floor}}</h1>
                                </div>

                                <!--ICON AND TYPE FOR floor END -->



                                <!--ICON AND TYPE FOR Bathroom START -->
                                <div class="grid grid-cols-2 ">
                                    <!--ICON-->
                                    <div class="ml-9 mt-2">
                                        <svg width="28px" height="28px" viewBox="0 0 512 512"
                                            xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path fill="var(--ci-primary-color, #000000)"
                                                    d="M464,280H80V100A51.258,51.258,0,0,1,95.113,63.515l.4-.4a51.691,51.691,0,0,1,58.6-10.162,79.1,79.1,0,0,0,11.778,96.627l10.951,10.951-20.157,20.158,22.626,22.626,20.157-20.157h0L311.157,71.471h0l20.157-20.157L308.687,28.687,288.529,48.844,277.578,37.893a79.086,79.086,0,0,0-100.929-8.976A83.61,83.61,0,0,0,72.887,40.485l-.4.4A83.054,83.054,0,0,0,48,100V280H16v32H48v30.7a23.95,23.95,0,0,0,1.232,7.589L79,439.589A23.969,23.969,0,0,0,101.766,456h12.9L103,496h33.333L148,456H356.1l12,40H401.5l-12-40h20.73A23.969,23.969,0,0,0,433,439.589l29.766-89.3A23.982,23.982,0,0,0,464,342.7V312h32V280ZM188.52,60.52a47.025,47.025,0,0,1,66.431,0L265.9,71.471,199.471,137.9,188.52,126.951A47.027,47.027,0,0,1,188.52,60.52ZM432,341.4,404.468,424H107.532L80,341.4V312H432Z"
                                                    class="ci-primary"></path>
                                            </g>
                                        </svg>
                                    </div>


                                    <!--TYPE-->
                                    <div class="p-2  text-[16px] md:text-xl font-bold">
                                        <h1>Bathrooms</h1>
                                    </div>
                                </div>


                                <!--INFO-->
                                <div class="p-2 pl-9 text-[16px] md:text-xl">
                                    <h1>{{roomDetail.numberOfBathroom}}</h1>
                                </div>

                                <!--ICON AND TYPE FORBathroom  END -->


                            </div>

                        </div>

                    </div>
                </div> <!---Room Info END-->


            </div> <!-- Room Description END-->


            <!-- Location Start -->
            <div class="p-2  border border-3 shadow  mt-16 ml-4 pb-7">
                <!-- Heading -->
                <div class="ml-4 p-3">
                    <h1 class="md:text-2xl text-[19px] font-semibold ">Room Location</h1>
                </div>

                <div class="pl-7 pt-6 md:text-xl text-[15px]">
                    <h1>Address: <span class=" text-gray-600">{{roomDetail.roomAddress}}</span></h1>
                </div>

                <div class="pl-7 pt-6 md:text-xl text-[15px]">
                    <h1>Detailed Address: <span class=" text-gray-600">{{roomDetail.detailedRoomAddress}}</span></h1>
                </div>

            </div>

            <!-- Owner Info Start -->
            <div class="p-2  border border-3 shadow  mt-16 ml-4 pb-7">
                <!-- Heading -->
                <div class="ml-4 p-3">
                    <h1 class="md:text-2xl text-[16px] font-semibold ">Owner Details</h1>
                </div>

                <div class="pt-14 md:flex pl-4">
                    <div class="">
                        <img class="w-28 h-28 rounded-full" src="{{roomDetail.user.userprofilepicture.image.url}}"
                            alt="">
                    </div>

                    <div class="md:ml-14 space-y-9 pt-3 pb-4">
                        <p class="md:text-xl text-[16px]">Owner: <span>{{roomDetail.user}}</span></p>
                        <p class="md:text-xl text-[16px]">Listed on: {{roomDetail.listed_date}}</p>
                    </div>

                    <div class="md:ml-14 space-y-9 pt-3">
                        <p class="md:text-xl text-[16px]">Contact Number:
                            <span>{{roomDetail.user.useradditionaldetail.contact_number}}</span></p>
                        <p class="md:text-xl text-[16px]">Email: <span>{{roomDetail.user.email}}</span></p>
                    </div>
                </div>

            </div> <!-- Owner Info END -->

            {% endif %}

            
            {% if isJoinedThisRoom %}
            
            {% for tenantDetails in isJoinedThisRoom %}
                                
            <!-- Owner Info Start -->
            <div class="p-2  border border-3 shadow  mt-16 ml-4 pb-7">
                <!-- Heading -->
                <div class="ml-4 p-3">
                    <h1 class="md:text-2xl text-[16px] font-semibold ">Tenant Details</h1>
                </div>

                <div class="pt-14 md:flex pl-4">
                    <div class="">
                        <img class="w-28 h-28 rounded-full" src="{{tenantDetails.user.userprofilepicture.image.url}}"
                            alt="">
                    </div>

                    <div class="md:ml-14 space-y-9 pt-3 pb-4">
                        {% if tenantDetails.user.first_name and tenantDetails.user.last_name %}
                        
                        <h1 class="md:text-xl text-[16px]"><span>Name: </span> <span>{{tenantDetails.user.first_name}}</span> <span>{{tenantDetails.user.last_name}}</span></h1>

                        {% else %}

                        <p class="md:text-xl text-[16px]">Tenant username: <span>{{tenantDetails.user}}</span></p>

                        {% endif %}
                        
                        <p class="md:text-xl text-[16px]">Room joined on: {{ tenantDetails.moveInDate|date:"F j, Y"}}</p>
                    </div>

                    <div class="md:ml-14 space-y-9 pt-3">
                        <p class="md:text-xl text-[16px]">Contact Number:
                            <span>{{tenantDetails.user.useradditionaldetail.contact_number}}</span></p>
                        <p class="md:text-xl text-[16px]">Email: <span>{{tenantDetails.user.email}}</span></p>
                    </div>
                </div>

            </div> <!-- Owner Info END -->
            {% endfor %}

            {% else %}
            <!--SHOWING FEEDBACKS FOR THIS ROOM-->
            <div class="p-2  border border-3 shadow  mt-16 ml-4 pb-7">
                <!-- Heading -->
                <div class="ml-4 p-3">
                    <h1 class="md:text-2xl text-[16px] font-semibold pb-5 ">Feedbacks</h1>
                </div>






                
                {% if feedbacks %}
                
                {% for feedback in feedbacks %}
                    
                    <div class="md:grid md:grid-cols-3 px-5 gap-4">
                        <div class="max-w-lg mx-auto border px-6 py-4 rounded-lg ">
                            <div class="flex items-center mb-6">
                                <img src="{{feedback.user.userprofilepicture.image.url}}" alt="Avatar" class="w-12 h-12 rounded-full mr-4">
                               <div>
                                    <div class="text-lg font-medium text-gray-800">{{feedback.user}}</div>
                                     <!--<div class="text-gray-500">2 hours ago</div>-->
                                </div>
                            </div>
                            <p class="text-lg leading-relaxed mb-6">{{feedback.feedback}}</p>
                            
                        </div>
                    </div>
                {% endfor %}

                {% else %}

                <h1 class="pl-6">No Feedbacks for in this room.</h1>
                    
                {% endif %}

                    
                

                









            </div>



            {% endif %}

        </div> <!-- CONTENTS END-->
    </div> <!-- Main container Start -->
</div> <!-- Main END -->
<script src="{% static 'js/roomMoreDetails.js' %}" type="text/javascript"></script>
{% endblock %}