{% extends 'Users Profile/NavigationBarBase/base.html' %}
{% block title %}RoomRent | Saved Rooms {% endblock %}
{% load static %}

{% block content %}


    <!-- Main -->
    <div class="flex-1 bg-[#F3F3F3]">
        <!-- Main container Start -->
        <div class="container px-4 py-1 mx-auto">

            <!-- CONTENTS -->
            <div class="bg-white h-screen  pb-[100px]  lg:mr-3 mt-[15px] md:ml-30 lg:ml-60 bg-white">
            <div class="p-5 text-[#0F0F4B]">
                     <h1 class="font-semibold text-[17px] md:text-3xl"> 
                      <span class="text-black">My Saved Rooms</span>
                     </h1>
            </div>         

                    {% if mySavedRooms %}

                        
                    {% for room in mySavedRooms %}
                    <!--START: LISTING ROOMS-->
                    <div class="p-3 shadow-xl md:w-[350px]  border-[0.5px] shadow-sm  ml-3">
                        <div id="gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            
                            <div class="relative h-56 overflow-hidden rounded-lg ">
                                <!-- Item 1 -->
                                {% for img in room.room.images.all %}
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                    <img src="{{ img.image.url }}" class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
                                </div>
                                {% endfor %}

                               
                            </div>
                            
                           
                        </div>

                        <!-- INFO -->
                        <div class="p-2 font-semibold">
                            <h1>{{room.room.roomTitle}}</h1>

                        </div>

                        <div class="p-2 ">
                            <h1><span>Rs. {{room.room.rent}}</span><span> / Month</span></h1>

                        </div>

                        <div class="p-2 flex justify-between">
                            <h1>{{room.room.roomAddress|truncatewords:3}}</h1>
                            
                        </div>

                        <div class="">
                            <form action="" method="post">
                                {% csrf_token %}
                                    <button type="submit" class="w-full py-3 border border-solid border-[black]  font-medium rounded-md py-3">More Details</button>
                                <input type="hidden" name="page" value="{{room.room.id}}">
                            </form>
                        </div>
                    </div> <!--END: LISTING ROOMS-->

                    {% endfor %}

                    {% else %}

                    <div>
                        <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
                
                          <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
                            <h1 class="p-20 mt-20">You do not have saved any rooms yet.</h1>
                          </div>
                
                          <div class="mb-10 pb-10 md:w-2/3">
                            <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
                          </div>
                
                        </div>
                      </div>

                    {% endif %}

      
                    </div>
                </div>
        </div>

    </div>



{% endblock %}