{% extends 'Users Profile/NavigationBarBase/base.html' %} {% load static %}
{% block title %}RoomRent | View Booking {% endblock %}

{% block content %}

<div class="flex-1 bg-[#F3F3F3]">
  <!-- Main container Start -->
  <div class="container px-4 py-1 mx-auto">
    <!-- HEADING CONTENTS -->
    <div class="bg-white h-screen pb-[100px] lg:mr-3 mt-[15px] md:ml-30 lg:ml-60 bg-white">
      <!--HEADING-->
      <div class="flex justify-between pr-3 bg-[#0766AD] text-white">
        <div>
          <h1 class="font-semibold text-[17px] md:text-3xl p-6">{% if step == None or step == 'pendingBookings' %}Pending Bookings {% else %} Canceled or Rejected Bookings {% endif %}</h1>
        </div>
      </div>

      <!-- CHANGE PAGE -->
      <form action="" method="post">
        {% csrf_token %}
        <div class="sub-heading flex p-3 gap-3 gap">
          <div>
            <button type="submit" name="pendingBookings" class=" p-2 px-4 border text-white
          bg-[#54b4d3]
             border-[#39c9a71a]">Pendings</button>
          </div>

          <div>
            <button type="submit" name="canceledBookings" class=" relative 
          bg-[#dc4c64] p-2 px-4 text-white border-[#f58c5c1a] border">Cancled 
          
          {% if cancledRoomDetails %}
          <span
                class="bg-red-600 p-1 rounded-lg text-white text-xs ml-3">new
          </span>
          {% endif %}
            
          
        </button>

          </div>

        </div>
      </form>


      {% if step == None or step == "pendingBookings" %}

      <!-- BOOKING LISTS -->
      <div class="md:px-10 mt-5">


        {% if pendingBookings and not cancledRoomDetails %}

        <table class="md:w-full w-full md:text-md text-sm bg-white shadow-md rounded mb-4">
          <tbody>
            <tr class="border-b bg-gray-200">
              <th class="text-left p-3 px-5">Room Name</th>
              <th class="text-left p-3 px-5">Requested By</th>
              <th class="text-left p-3 px-5">Booked on</th>
              <th class="text-left p-3 px-5">Contact</th>
              <th class="text-left p-3 px-5"></th>
            </tr>

            {% for room in pendingBookings %}
            <tr class="border-b hover:bg-gray-100">

              <td class="p-3 px-5">
                <p><a class="text-[#0766AD]"
                  href="{% url 'roomMoreDetails' room.room.id  %}">{{room.room.roomTitle}}</a></p>
              </td>

              <td class="p-3 px-5">
                <p>{{room.user}}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.bookingDate }}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.user.useradditionaldetail.contact_number}}</p>
              </td>
              <td class="p-3 px-5 pl-3">
                <button type="button"
                  class="md:mr-3 text-sm bg-gray-700 hover:bg-gray-600 text-white md:py-2 md:px-3 rounded focus:outline-none focus:shadow-outline"
                  data-modal-target="medium-modal-{{ room.id }}" data-modal-toggle="medium-modal-{{ room.id }}">
                  View details
                </button>
              </td>
            </tr>

            <!-- view Modal -->
            <div id="medium-modal-{{ room.id }}" tabindex="-1"
              class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow">
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-xl font-medium text-gray-900">
                      Booking details
                    </h3>
                    <button type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                      data-modal-hide="medium-modal-{{ room.id }}">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <form action="" method="post" class="ml-auto">
                    {% csrf_token %}
                    <!-- Modal body -->
                    <div class="p-4 ">

                      <!--ROOM Details-->
                      <div>

                        <h1 class="font-bold">Room details</h1>

                        <div class="mt-4">
                          <h1><span>Room Name: </span> <span><a class="text-[#0766AD]"
                                href="{% url 'roomMoreDetails' room.room.id  %}">{{room.room.roomTitle}}</a></span></h1>
                        </div>

                        <div class="mt-4">
                          <h1><span>Movein date: </span> <span>{{room.moveInDate|date}}</span></h1>
                        </div>

                        <div>

                        </div>

                      </div>

                      <!--User Details-->
                      <div class="mt-5 ">

                        <h1 class="font-bold">User details</h1>

                        <div class="mt-4">

                          {% if room.user.first_name and room.user.last_name %} <h1 class="pb-2"><span>Name: </span>
                            <span>{{room.user.first_name}}</span> <span>{{room.user.last_name}}</span>
                          </h1> {% endif %}
                          <h1 class="pb-2"><span>Username: </span> <span>{{room.user}}</span></h1>
                          <h1 class="pb-2"><span>Contact Number: </span>
                            <span>{{room.user.useradditionaldetail.contact_number}}</span>
                          </h1>
                          <h1><span class="pb-2">Email: </span> <span>{{room.user.email}}</span></h1>
                          <br>
                          <h1><span class="font-bold py-2">User additional message: <br> </span> <span>{{room.additionalDetails}}</span></h1>

                        </div>

                        {% if room.user.userprofilepicture %}
                        <div class="mt-5">

                          <h1 class="font-bold pb-2">User Profile Picture</h1>

                          <div class="flex justify-center">
                            <a href="{{ room.user.userprofilepicture.image.url }}" target="_blank">
                              <img class="h-64 max-w-full rounded-lg" src="{{ room.user.userprofilepicture.image.url }}"
                                alt="img" />
                            </a>
                          </div>

                        </div>
                        {% endif %}

                      </div>

                    </div>
                    <!-- Modal footer -->

                    <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b">
                      <input type="hidden" name="roomId" value="{{ room.id }}" />
                      <input type="hidden" name="user" value="{{ room.user.id }}" />
                      <button data-modal-hide="medium-modal-{{ room.id }}" type="submit" name="accept"
                        class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Approve
                      </button>
                      <button data-modal-hide="medium-modal-{{ room.id }}" type="submit" name="reject"
                        class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
                        Reject
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>

        {% else %}

        <div>
          <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
  
            <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
              <h1 class="p-20 mt-10">No bookings currently.</h1>
            </div>
  
            <div class="mb-10 pb-10 md:w-2/3 ">
              <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
            </div>
  
          </div>
        </div>

        {% endif %}

      </div>

      <!-- Cancled options -->
      {% else %}



      <!-- BOOKING LISTS -->
      <div class="md:px-10 mt-5">
        {% if canceledBookingDetails %}
        <table class="md:w-full w-full md:text-md text-sm bg-white shadow-md rounded mb-4">
          <tbody>
            <tr class="border-b bg-gray-100">
              <th class="text-left p-3 px-5">Room Title</th>
              <th class="text-left p-3 px-5">Booked On</th>
              <th class="text-left p-3 px-5">Canceled On</th>
              <th class="text-left p-3 px-5">Booked By</th>
              <th class="text-left p-3 px-5">Status</th>
            </tr>


            {% for room in canceledBookingDetails %}


            <tr class="border-b hover:bg-gray-100">

              <td class="p-3 px-5">
                <a class="text-[#0766AD]" href="{% url 'roomMoreDetails' room.room.id  %}">{{room.room.roomTitle }}</p></a>
              </td>
              <td class="p-3 px-5">
                <p>{{room.bookingDate }}</p>
              </td>
              <td class="p-3 px-5 pl-3">
                <p>{{room.canceledDate}}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.user}}</p>
              </td>
              <td class="p-3 px-5">
                <p>{{room.status}}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% else %}

        <div>
          <div class="IMAGE md:w-full h-[500px] md:flex justify-between">
  
            <div class="text-4xl text-gray-700 md:w-2/3 tracking-wide leading-relaxed">
              <h1 class="p-20 mt-10">No Rooms that has been cancled or rejected.</h1>
            </div>
  
            <div class="mb-10 pb-10 md:w-2/3 ">
              <img class="h-full" src="{% static 'images\static images\staticPageImages\nodata.jpg' %}" alt="" srcset="">
            </div>
  
          </div>
        </div>


        {% endif %}

      </div>
      {% endif %}
    </div>
  </div>

  {% endblock %}